@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminFileDeleteModel
@{
}

<div class="modal-notification" id="deletefile-popup" style="display: none;">
    <div class="file-delete-notification" style="padding:10px; padding-bottom:5px; width:500px;">
        <div class="icon">
            <img src="~/Content/Assets/file-delete-confirm-icon.svg" alt="Delete Confirmation" />
        </div>
        <div class="message">
            Are you sure you want to delete the file <span id="file-name-to-delete"></span> permanently?
        </div>
        <input type="hidden" id="file-to-delete-id" />
        <div class="modal-footer footer-file-delete">
            <button class="cancel-btn file-cancel">No, Cancel</button>
            <button class="delete-btn file-delete-btn">
                <img src="~/Content/Assets/system-delete-icon.svg" class="delete-icon-popup" /> Yes, I'm sure
            </button>
        </div>
        <div class="close">
            <img src="~/Content/Assets/AdminSystemDeletePopupCloseIcon.svg" alt="Close" id="close-icon4" />
        </div>
    </div>
</div>