@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminFileEditModel
@{
}

<div class="modal-notification-edit" id="editfile-popup" style="display: none;">
    <input type="hidden" id="file-id-to-edit" />
    <div class="modal-header">
        <h2>Edit Maintenance Procedure Overview</h2>
        <img src="/Content/Assets/close-icon.svg" id="close-icon5" />
    </div>
    <div class="modal-body">
        <label for="file-name">File Name</label>
        <input type="text" id="file-name" value="" /> 
        <label for="category">Select Category</label>
        <select id="category">
            <option value="Training">Training</option>
            <option value="Technical">Technical</option>
        </select>
    </div>
    <div class="modal-footer" style="border:none; padding:0px;">
        <button class="reset-btn">Reset</button>
        <button class="save-btn">Save Changes</button>
    </div>
</div>