@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminSystemDeleteModel
@{
}

<div class="modal-delete-system" id="deletesystem-popup" style="display: none;">
    <div class="modal-header-delete-system" style="display: flex; align-items: center;">
        <h2 id="delete-system-title" style="margin: 0; margin-bottom: 20px; display: inline-block;">
            Delete <span id="system-name-to-delete"></span> System?
        </h2>
        <img src="/Content/Assets/AdminSystemDeletePopupCloseIcon.svg" id="close-icon2" style="margin-left: auto; cursor: pointer; vertical-align: middle;" />
    </div>
    <div class="modal-body-delete-system">
        <p>Are you sure you want to delete this <span id="system-name-to-delete"></span> and all of its content listed below permanently?</p>
        <div class="file-list" style=" margin-bottom:10px;">
            <!-- List of files associated with the system can be dynamically populated here -->
        </div>
    </div>
    <div class="modal-footer" style="border-top:none;  margin-bottom:10px;">
        <button class="cancel-btn" id="cancel-dep-del">No, Cancel</button>
        <button class="delete-btn" id="delete-system-button">
            <img src="/Content/Assets/system-delete-icon.svg" class="delete-icon-popup" /> Yes, I'm sure
        </button>
    </div>
</div>