@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminSystemDeleteModel
@{
}

<div class="modal-delete-system" id="deletesystem-popup" style="display: none;">
    <div class="modal-header-delete-system" style="display: flex; align-items: center;">
        <h2 style="margin: 0; margin-bottom: 20px;display: inline-block;">Delete Flight Planning System?</h2>
        <img src="/Content/Assets/AdminSystemDeletePopupCloseIcon.svg" id="close-icon2" style="margin-left: auto; cursor: pointer; display: inline-block; vertical-align: middle;" />
    </div>
    <div class="modal-body-delete-system">
        <p>Are you sure you want to delete this System and all of its content listed below permanently?</p>
        <div class="file-list">
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-doc-icon.svg"> Maintenance Procedure Overview</div>
            <div class="file-item"><img src="/Content/Assets/system-delete-video-icon.svg"> Aircraft Maintenance Checklist</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn">No, Cancel</button>
        <button class="delete-btn"><img src="/Content/Assets/system-delete-icon.svg" class="delete-icon-popup" /> Yes, I'm sure</button>
    </div>
</div>