@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminSystemSuccessfullyAddedModel
@{
}


<div class="modal-notification" id="notification-popup" style="display: none;">
    <div class="notification">
        <div class="icon">
            <img src="~/Assets/system-added-successfully.svg" alt="Alternate Text" />
        </div>
        <div class="message">
            New System<br>Added Successfully!
        </div>
        <div class="close">
            <img src="~/Assets/AdminSystemDeletePopupCloseIcon.svg" alt="Alternate Text" id="close-icon3" />
        </div>
    </div>
</div>