@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminSystemSuccessfullyUpdatedSystemModel
@{
}


<div class="modal-notification system-added-popup" id="notification-popup-edit" style="display: none;">
    <div class="notification">
        <div class="icon">
            <img src="/Content/Assets/system-added-successfully.svg" alt="Alternate Text" />
        </div>
        <div class="message">
            System was Successfully Edited
        </div>
        <div class="close">
            <img src="/Content/Assets/AdminSystemDeletePopupCloseIcon.svg" alt="Alternate Text" id="close-icon-system-edit" />
        </div>
    </div>
</div>