@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminAddSystemPopupModel
@Html.AntiForgeryToken()

<div id="addsystem-popup" class="addsystem-popup" style="display: none;">
    <div class="add-system-container-popup">
        <div class="add-system-header">
            <div class="title">Add System</div>
            <img src="~/Content/Assets/close-icon.svg" class="close-icon" id="close-icon" />
        </div>
        <div class="add-system-content">
            <div class="form-row">
                <div class="form-group half-width">
                    <label for="system-name">System Name</label>
                    <input type="text" id="system-name" placeholder="New System Name" class="full-width" required>
                </div>
                <div class="form-group half-width">
                    <label for="description">Description</label>
                    <textarea id="description" placeholder="Description Comes Here" class="full-width" required></textarea>
                </div>
            </div>
            <div class="add-system-searchbar">
                <div class="section-title">Select Departments According to Division</div>
                <div class="file-search-container">
                    <img src="~/Content/Assets/search-icon.svg" class="search-icon" alt="Search Icon" />
                    <input id="DepartmentsDivisionsSearch" onkeyup="filterDepartmentsDivisions()" placeholder="Search" type="text" class="file-search-input" />
                </div>
            </div>
            <div class="division-container" id="division-container">
                <div id="loading-indicator" class="loading-spinner" style="display:none;">Loading divisions...</div>
                <div id="error-message" class="error-message" style="display:none;"></div>
            </div>
        </div>
        <div class="footer">
            <button class="save-btn" onclick="addNewSystem()">Add New System</button>
        </div>
    </div>
</div>

<script src="~/Scripts/AdminAddSystemScripts.js"></script>