@page
@model AeroVault.Views.Shared.AdminSystemPopups._AdminSystemSuccessfullyUpdatedModel
@{
}


<div class="modal-notification system-added-popup" id="notification-popup-update" style="display: none;">
    <div class="notification">
        <div class="icon">
            <img src="/Content/Assets/system-added-successfully.svg" alt="Alternate Text" />
        </div>
        <div class="message">
            File updated successfully!
        </div>
        <div class="close">
            <img src="/Content/Assets/AdminSystemDeletePopupCloseIcon.svg" alt="Alternate Text" id="close-icon3" />
        </div>
    </div>
</div>