@page
@model AeroVault.Views.Shared.AdminDepartmentPopups._AdminAddDepartmentPopupModel
@{
}

<div class="modal-notification-edit" id="adddepartment-popup" style="display: none;">
    <div class="modal-header">
        <h2>Add Department</h2>
        <img src="~/Assets/close-icon.svg" id="close-icon-dep1" style="cursor:pointer;"/>
    </div>
    <div class="modal-body">
        <p>Enter department name, select division to add this department</p>
        <div>
            <label for="new-department-name">Department Name</label>
            <input type="text" id="new-department-name" placeholder="New Department Name">
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="save-btn add-new-dep-popup-btn">Add New Department</button>
    </div>
</div>