@{
    ViewData["Title"] = "File Repository";
    ViewData["CustomNavbar"] = true;
    ViewData["UserHeader"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FileRepository.css" />
    @* <link rel="stylesheet" href="https://localhost:7074/lib/bootstrap/dist/css/bootstrap.css"> *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>
    @* <div class="banner-section">
        <img src="~/Assets/banner-new4.svg" alt="Banner" class="user-banner" />
        <div id="selected-department" class="banner-text"></div>
    </div> *@

    <div class="banner-content">
        <h1 id="selected-department"></h1>
        @* <div id="selected-department" class="banner-text"></div> *@
    </div>




    <div class="main-container">
        <div class="col-lg-12 main-container-file">
            <div class="row">
                <!-- Left Side -->
                <div class="col-lg-3 left-section" style="position: relative; min-height: 70vh; padding-right:0px;">
                    <div class=" col-lg-6 col-md-6 col-sm-4 mb-2 dropdown-container">
                        <div class="custom-form-group">
                            <label class="custom-label" for="custom-selector">Select Department</label>
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown()">
                                    <span id="selected-option" style="color: #00436C;">Information Technology</span>
                                    <i class="fas fa-chevron-down" style="color:#00436C;"></i>
                                </div>
                                <div class="custom-dropdown-content">
                                    <div class="custom-search-container">
                                        <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                        <input type="text" id="custom-search-input" placeholder="Search Department" onkeyup="filterCustomOptions()" onclick="event.stopPropagation()">
                                    </div>
                                    <div class="custom-dropdown-list">
                                        <div onclick="selectCustomOption(this)" class="active">Information Technology</div>
                                        <div onclick="selectCustomOption(this)">Human Resource</div>
                                        <div onclick="selectCustomOption(this)">Flight Operations</div>
                                        <div onclick="selectCustomOption(this)">Safety and Security</div>
                                        <div onclick="selectCustomOption(this)">Finance</div>
                                        <div onclick="selectCustomOption(this)">Marketing</div>
                                        <div onclick="selectCustomOption(this)">Customer Service</div>
                                        <div onclick="selectCustomOption(this)">Logistics</div>
                                        <div onclick="selectCustomOption(this)">Procurement</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="search-container ">
                        <img class="search-icon" src="~/Assets/Search.svg" alt="Search Icon" />
                        <input type="text" id="system-search" placeholder="Search System" onkeyup="filterUploads()">
                    </div>
                    <div class="scrollable-upload-list" id="upload-list-container">
                        <div class="upload-list-new" id="AeroDocs">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    AeroDocs
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="upload-list-new" id="GovTra">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    GovTra
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="upload-list-new" id="AeroLetter">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    AeroLetter
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="upload-list-new" id="EasyPass">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    EasyPass
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="upload-list-new" id="FIDS">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    FIDS
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="upload-list-new" id="AeroDocs">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    AeroDocs
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>

                        <div class="upload-list-new" id="GovTra">
                            <div class="upload-item">
                                <div class="upload-name-all name">
                                    GovTra
                                    <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                    <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                                </div>
                                <div class="upload-info">
                                    <span class="upload-video">Videos: <b>12</b></span>
                                    <span class="upload-doc">Docs: <b>12</b></span>
                                </div>
                            </div>
                        </div>   
                    </div> 

                 <div class="vertical-line"
                         style="position: absolute; top: 0; right: 0; bottom: 0; width: 2px; background-color: #5E5E5F;">
                    </div>
                </div>


                <!-- Right Side  -->
                <div class="col-lg-9 content-section">
                    <!-- Header with Title and Image -->
                    <div class="row align-items-center mb-3">
                        <div class="upload-title col-lg-6 col-md-6 col-sm-8">
                            All Uploads (Recent 50)
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-4 d-flex justify-content-end">
                            <img src="~/Assets/uploadsys.svg" alt="system" class="system-icon"
                                 onclick="toggleTooltipOnClick()" onmouseover="showTooltip()" onmouseout="hideTooltip()" />
                            <div id="tooltip" class="tooltip-box">
                                <span class="close-btn" onclick="forceHideTooltip()">×</span>
                                <span id="tooltip-text">Select a system to access documents and videos specific to your department. You may also view files from other departments.</span>
                            </div>
                        </div>



                    </div>

                    <!-- Container for Tabs and Content -->
                    <div class="content-container">
                        <!-- Tab Navigation -->
                        <div class="tab-container">
                            <button class="tab-button document-btn active" onclick="showDocuments()">Documents (40)</button>
                            <button class="tab-button video-btn" onclick="showVideos()">Videos (10)</button>
                        </div>




                        <div class="upload-content" id="documentsSection"> 
                            <!-- Filter Options -->
                            <div class="filter-options">
                                <div class="filter-category-status-form-group">
                                    <div class="filter-category-status-dropdown">
                                        <div class="filter-category-status-dropdown-toggle filter-category-status-selector" onclick="filterCategoryToggleStatusDropdown()">
                                            <span id="filter-category-selected-status">All (Read / Unread)</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                        <div class="filter-category-status-dropdown-content">
                                            <div class="filter-category-status-dropdown-list">
                                                <div onclick="filterCategorySelectStatusOption(this)" class="active">All (Read / Unread)</div>
                                                <div onclick="filterCategorySelectStatusOption(this)">Read</div>
                                                <div onclick="filterCategorySelectStatusOption(this)">Pending</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="category-form-container">
                                    <div class="category-dropdown-wrapper">
                                        <div class="category-dropdown-button category-dropdown-selector" onclick="toggleCategoryDropdownUnique()">
                                            <span id="selected-category-unique">All Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                        <div class="category-dropdown-list-container">
                                            <div class="category-list">
                                                <div onclick="selectCategoryOptionUnique(this)" class="active-category">All Categories</div>
                                                <div onclick="selectCategoryOptionUnique(this)">Technical</div>
                                                <div onclick="selectCategoryOptionUnique(this)">Training</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="search-container search-box file-search-bar">
                                    <img class="search-icon" src="~/Assets/Search.svg" alt="Search Icon" />
                                    <input type="text" id="file-search" placeholder="Search" >
                                </div>
                            </div>

                            <!-- Document List (Example Content) -->
                            <div class="scrollable-item-list content-container Document">
                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title">FlisTA User Manual for Apple Version</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/FliSTA User Manual for Apple version.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title">FlisTA User Manual for Apple Version</span>
                                        <span class="item-meta">Technical</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/FliSTA User Manual for Apple version.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title">FlisTA User Manual for Apple Version</span>
                                        <span class="item-meta">Technical</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/FliSTA User Manual for Apple version.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                
                            </div>
                        </div>





                        <div class="overlay-pdf" id="overlay-pdf" style="display: none;">
                            <div class="iframe-container">
                                <img src="~/Assets/close-icon.svg" class="close-button" id="close-button" alt="Close" />
                                <iframe id="pdf-frame" src="" style="width: 100%; height: 100%; border: none;"></iframe>
                            </div>
                        </div>





                        <div class="overlay-pdf1" id="overlay-pdf1" style="display: none;">
                            <div class="iframe-container1">
                              @*   <div class="title-container">
                                    <h1>TITLE</h1>
                                    <img src="~/Assets/close-icon.svg" class="close-button1" id="close-button1" alt="Close" />
                                </div> *@
                                <img src="~/Assets/close-icon.svg" class="close-button1" id="close-button1" alt="Close" />

                                <iframe class="video-iframe" id="pdf-frame1" src="" style="width: 100%; height: 100%; border: none;"></iframe>
                            </div>
                        </div>






                        <div class="upload-content-video" id="videosSection" style="display: none;">
                            <!-- Filter Options -->
                            <div class="filter-options">
                                <div class="filter-category-status-form-group1">
                                    <div class="filter-category-status-dropdown1">
                                        <div class="filter-category-status-dropdown-toggle1 filter-category-status-selector1" onclick="filterCategoryToggleStatusDropdown1()">
                                            <span id="filter-category-selected-status1">All (Read / Unread)</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                        <div class="filter-category-status-dropdown-content1">
                                            <div class="filter-category-status-dropdown-list1">
                                                <div onclick="filterCategorySelectStatusOption1(this)" class="active">All (Read / Unread)</div>
                                                <div onclick="filterCategorySelectStatusOption1(this)">Read</div>
                                                <div onclick="filterCategorySelectStatusOption1(this)">Pending</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="category-form-container1">
                                    <div class="category-dropdown-wrapper1">
                                        <div class="category-dropdown-button1 category-dropdown-selector1" onclick="toggleCategoryDropdownUnique1()">
                                            <span id="selected-category-unique1">All Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                        <div class="category-dropdown-list-container1">
                                            <div class="category-list1">
                                                <div onclick="selectCategoryOptionUnique1(this)" class="active-category">All Categories</div>
                                                <div onclick="selectCategoryOptionUnique1(this)">Technical</div>
                                                <div onclick="selectCategoryOptionUnique1(this)">Training</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="search-container search-box1">
                                    <img class="search-icon" src="~/Assets/Search.svg" alt="Search Icon" />
                                    <input type="text" id="file-search-video" placeholder="Search" onkeyup="filterVideoItems()">
                                </div>
                            </div>

                            <!-- Video List (Example Content) -->
                            <div class="scrollable-item-list content-container Video">
                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title1">FlisTA User Manual for Apple Version</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/2024-01-30 08-38-38.mp4">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title1">FlisTA User Manual for Apple Version</span>
                                        <span class="item-meta">Technical</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/FliSTA User Manual for Apple version.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>

                                <div class="item-list">
                                    <div class="item-info">
                                        <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                        <span class="item-title1">Upload Document</span>
                                        <span class="item-meta">Training</span>
                                        <span class="item-date">Mar 26, 2024</span>
                                        <button class="action-button1" data-pdf="/Assets/database design.pdf">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/js/FileRepository.js"></script>
    
</body>
</html>