@{
    ViewData["Title"] = "File Repository";
    ViewData["CustomNavbar"] = true;
    ViewData["UserHeader"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FileRepository.css" />
</head>
<body>
    <img src="~/Assets/banner-new.svg" alt="Banner" class="user-banner" />
    <div class="main-container">
        <h1>File Repository Page</h1>
    </div>
</body>
</html>