@{
    ViewData["Title"] = "File Repository";
    ViewData["CustomNavbar"] = true;
    ViewData["UserHeader"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FileRepository.css" />
    <link rel="stylesheet" href="https://localhost:7074/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="banner-section">
        <img src="~/Assets/banner-new4.svg" alt="Banner" class="user-banner" />
        <div id="selected-department" class="banner-text"></div>
    </div>
   


    <div class="col-lg-12 main-container-file">
        <div class="row">
            <!-- Left Side -->
            <div class="col-lg-3 left-section" style="position: relative; min-height: 70vh;">

                <div class=" col-lg-6 col-md-6 col-sm-4 mb-2 dropdown-container">

                    <label for="department-select">Select Department</label>
                    <div class="dep-dropdown">
                        <input type="text" id="search-department" placeholder="Search Department" onfocus="showDepartmentList()" onkeyup="filterDepartments()">
                        <div id="department-list">
                            <div data-value="all" onclick="selectDepartment(this)">All</div>
                            <div data-value="human-resource" onclick="selectDepartment(this)">Human Resource</div>
                            <div data-value="information-technology" onclick="selectDepartment(this)">Information Technology</div>
                            <div data-value="flight-operations" onclick="selectDepartment(this)">Flight Operations</div>
                            <div data-value="safety-security" onclick="selectDepartment(this)">Safety and Security</div>
                            <div data-value="customer-service" onclick="selectDepartment(this)">Customer Service</div>
                            <div data-value="engineering" onclick="selectDepartment(this)">Engineering</div>
                            <div data-value="legal" onclick="selectDepartment(this)">Legal</div>
                            <div data-value="procurement" onclick="selectDepartment(this)">Procurement</div>
                        </div>
                    </div>


                </div>

                <div class="search-container ">
                    <img class="search-icon" src="~/Assets/Search.svg" alt="Search Icon" />
                    <input type="text" id="system-search" placeholder="Search System" onkeyup="filterUploads()">
                </div>
                <div class="scrollable-upload-list" id="upload-list-container">
                    <div class="upload-list">
                        <div class="upload-item">
                            <div class="upload-name-all-upload">All Uploads</div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>10</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>

                    <div class="upload-list-new" id="AeroDocs">
                        <div class="upload-item">
                            <div class="upload-name-all name">
                                AeroDocs
                                <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                            </div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>12</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>

                    <div class="upload-list-new" id="GovTra">
                        <div class="upload-item">
                            <div class="upload-name-all name">
                                GovTra
                                <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                            </div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>12</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>

                    <div class="upload-list-new" id="AeroLetter">
                        <div class="upload-item">
                            <div class="upload-name-all name">
                                AeroLetter
                                <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                            </div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>12</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>

                    <div class="upload-list-new" id="EasyPass">
                        <div class="upload-item">
                            <div class="upload-name-all name">
                                EasyPass
                                <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                            </div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>12</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="upload-list-new" id="FIDS">
                        <div class="upload-item">
                            <div class="upload-name-all name">
                                FIDS
                                <img class="systemIcon" src="~/Assets/systemIcon.svg" alt="System Icon" />
                                <div class="tooltip-des">A system which streamline the process of buying airplane tickets with an easy access to view quotations before the user buy it in real-time.</div>
                            </div>
                            <div class="upload-info">
                                <span class="upload-video">Videos: <b>12</b></span>
                                <span class="upload-doc">Docs: <b>12</b></span>
                            </div>
                        </div>
                    </div>
                </div>


               



             <div class="vertical-line" 
                   style="position: absolute; top: 0; right: 0; bottom: 0; width: 2px; background-color: #ccc;">    
             </div>
            </div>


            <!-- Right Side  -->
            <div class="col-lg-9 content-section">
                <!-- Header with Title and Image -->
                <div class="row align-items-center mb-3">
                    <div class="upload-title col-lg-6 col-md-6 col-sm-8">
                        All Uploads (Recent 50)
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-4 d-flex justify-content-end">
                        <img src="~/Assets/uploadsys.svg" alt="system" class="system-icon"
                             onclick="toggleTooltipOnClick()" onmouseover="showTooltip()" onmouseout="hideTooltip()" />
                        <div id="tooltip" class="tooltip-box">
                            <span class="close-btn" onclick="forceHideTooltip()">×</span>
                            <span id="tooltip-text">Select a system to access documents and videos specific to your department. You may also view files from other departments.</span>
                        </div>
                    </div>



                </div>

                <!-- Container for Tabs and Content -->
                <div class="content-container">
                    <!-- Tab Navigation -->
                    <div class="tab-container">
                        <button class="tab-button active" onclick="showDocuments()">Documents (40)</button>
                        <button class="tab-button video-btn" onclick="showVideos()">Videos (10)</button>
                    </div>
                    <div class="upload-content" id="documentsSection"> 
                        <!-- Filter Options -->
                        <div class="filter-options">
                            <select class="dropdown-filter">
                                <option>All</option>
                                <option>Read</option>
                                <option>Unread</option>

                            </select>
                            <select class="dropdown-filter">
                                <option>All Categories</option>
                                <option>Training</option>
                                <option>Technical</option>
                            </select>
                            <div class="search-box">

                                <input type="text" placeholder="Search" />

                            </div>

                        </div>

                        <!-- Document List (Example Content) -->
                        <div class="scrollable-item-list content-container Document">
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button" onclick="showImage()">View</button>
                                </div>
                                <div id="popup-image-container" class="popup-image-container">
                                    <div class="popup-content">
                                        <img class="pdf-image" src="~/Assets/pdfImage.png" alt="PDF Image" />
                                        <span class="close-button" onclick="closeImagePopup()">&times;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Technical</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Technical</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upload-content-video" id="videosSection" style="display: none;">
                        <!-- Filter Options -->
                        <div class="filter-options-video">
                            <select class="dropdown-filter">
                                <option>All</option>
                                <option>Read</option>
                                <option>Unread</option>

                            </select>
                           
                            <div class="search-box">
                                <input type="text" id="search-input" placeholder="Search" />
                            </div>

                        </div>

                        <!-- Video List (Example Content) -->
                        <div class="scrollable-item-list content-container Video">
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/unread.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Training</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">Uploaded File Name</span>
                                    <span class="item-meta">Technical</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-info">
                                    <img class="read-icon" src="~/Assets/readIcon.svg" alt="read Icon" />
                                    <span class="item-title">FlisTA User Manual for Apple Version</span>
                                    <span class="item-meta">Technical</span>
                                    <span class="item-date">Mar 26, 2024</span>
                                    <button class="action-button">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    <script src="~/js/FileRepository.js"></script>
</body>
</html>

