@{
    ViewData["Title"] = "File Repository Page";
    ViewData["CustomNavbar"] = true;
    // ViewData["HideNavbar"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>File Repository Page</h1>
</body>
</html>