@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="~/Content/css/UserProfileStyles.css">

<div class="modal-notification-edit4" id="editfile-popup6" style="display: none;">

    <div class="modal-header3" style="height:30px; padding:0; margin-bottom:20px;">
        <img src="~/Content/Assets/close-icon.svg" class="close-icon6" id="close-icon6" />
    </div>

    <div class="modal-body4">
        @{
            var staffNo = Context.Session.GetString("StaffNo");
            var staffName = Context.Session.GetString("StaffName");
            var department = Context.Session.GetString("Department");
        }

        <p style="text-align:center; margin-top:10px; font-weight:bold; margin-bottom:0px;">@staffNo</p>
        <p style="text-align:center; margin-top:5px; margin-bottom:0px;">@staffName</p>
        <p style="text-align:center; margin-top:5px; margin-bottom:10px;">@department</p>
    </div>

</div>
