@page
@model AeroVault.Models.UserSidebarModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Content/css/UserSidebarStyles.css">
</head>
<body>
    <div class="modal-notification-edit9" id="editfile-popup7" style="display: none;">
        <div class="sidebar" id="sidebar">
            <img src="/Content/Assets/admin-sidebar-peacock1.svg" alt="Sri Lankan IT Systems Logo" class="footer-logo  peacock-background" />
            <img src="/Content/Assets/AeroVault-Logo.svg" alt="AeroVault Logo" class="logo" />
            <div class="profile-info" style="margin-top:0px">
                <img src="/Content/Assets/UserProfilePic.svg" alt="Profile Picture">
                <span class="name">Rusith Manorathna</span>
            </div>
            <div class="profile-details" style="display: none;">
                <p>Additional information about Rusith Manorathna</p>
                <p>Contact: pramodh@example.com</p>
                <p>Role: Administrator</p>
            </div>
            <ul class="menu">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="UserOverview" asp-action="UserPageOverview">Dashboard</a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="UserFileRepository" asp-action="FileRepository">File Repository</a>
                </li>                        
            </ul>
            <img src="/Content/Assets/admin-sidebar-SLA-logo.svg" alt="Sri Lankan Peacock brand" class="footer-logo" />
        </div>
    </div>

    <div id="dark-overlay5" class="dark-overlay" style="display: none;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Scripts/UserSidebarScripts.js"></script>
</body>
</html>