@page
@model AeroVault.Models.UserLogoutPopupModel
@{
}
<link rel="stylesheet" href="/Content/css/UserLogoutStyles.css">

<div class="modal-notification-edit3" id="editfile-popup5" style="display: none;">
    <div class="modal-header3" style="height:10px; padding:0;">
    </div>    
    <div class="modal-body3">        
          <h2 class="admin-logout-header">Confirm Logout</h2>     
    </div>
    <p style="text-align:center; margin-top:15px;">Are you sure you want to log out?</p>
    <div class="modal-footer3">
        <button class="reset-btn2" id="close-logout">Cancel</button>
        <button type="button" class="save-btn2" onclick="logout()">Logout</button>
    </div>
</div>

<script>
    function logout() {
        window.location.href = '@Url.Action("LoginPage", "Login")';
    }
</script>