.admin-main-content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.Review-page-container {
    height: 100%;
}

.reviewcontainer {
    display: flex;
    /*    height: 79vh;*/
    width: 100%;
}

.reviewsidebar-reviewcontainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    width: 26%;
    border-bottom-left-radius: 10px;
}

.reviewcontent {
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ReviewReviewTabs {
    display: flex;
    background-color: #e9f1fb;
}

.reviewtab {
    padding: 12px 75px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    font-weight: 600;
    color: #626161;
    letter-spacing: 0.2px;
}

    .reviewtab.active {
        background-color: #fff;
        border-top: 5px solid #023881;
        color: #023881;
    }

.search-box {
    display: flex;
    border-bottom: 1px solid #938C8C;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
}

    .search-box input {
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        flex: 1;
        padding: 5px;
    }


    .search-box img {
        color: #999;
        margin-right: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

.reviewdropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

    .reviewdropdown li {
        padding: 12px 30px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #585656;
        cursor: pointer;
    }

        .reviewdropdown li.active {
            background-color: #5897CB;
            font-weight: bold;
            color: #000;
        }

.reviewtitle {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    white-space: nowrap;
    z-index: 1;
    background-color: #fff;
}

.reviewtitle2 {
    margin-top: 1.2%;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 1;
    background-color: #fff;
}

.icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

    .icon.rotate {
        transform: rotate(90deg);
    }

.status-form-group {
    margin-bottom: 0px;
    margin-left: 20px;
    width: 90%;
}

.status-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.status-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    border: 1px solid #6D6D6D;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.status-dropdown-list {
    height: 150px;
    overflow-y: scroll;
}

.status-dropdown-list {
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent;
}

    .status-dropdown-list::-webkit-scrollbar {
        width: 8px;
    }

    .status-dropdown-list::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px;
    }

    .status-dropdown-list::-webkit-scrollbar-track {
        background: transparent;
    }

    .status-dropdown-list div {
        padding: 8px 16px;
        cursor: pointer;
    }

        .status-dropdown-list div:hover {
            background-color: #BBDCF9;
        }

    .status-dropdown-list .active {
        font-weight: bold;
    }

.status-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #6D6D6D;
    border-bottom: none;
    border-radius: 4px;
    cursor: pointer;
}

    .status-dropdown-toggle i {
        margin-left: 10px;
        transition: transform 0.3s;
    }

    .status-dropdown-toggle.open i {
        transform: rotate(180deg);
    }

.status-selector {
    border: 1px solid #6D6D6D;
    border-radius: 10px;
}

.status-search-container {
    display: flex;
    border-bottom: 1px solid #938C8C;
    margin: 20px;
    margin-top: 0px;
}

    .status-search-container img {
        color: #999;
        margin-right: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

    .status-search-container input {
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        flex: 1;
        padding: 5px;
    }

#status-search-input {
    margin-left: 0px;
    border: none;
}

.status-dropdown-toggle::after {
    content: none;
}

.staffView-container {
    width: 100%;
    background-color: #F3F3F3;
    padding-top: 10%;
    text-align: center;
    border-radius: 10px;
    margin: 4px;
    margin-bottom: 4px;
}

    .staffView-container img {
        width: 50%;
        margin-left: 50%;
        margin-top: 9%;
    }

.staffView-title {
    font-size: 22px;
    color: black;
}

.staffView-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

    .staffView-search-box input[type="text"] {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .staffView-search-box button {
        padding: 10px 20px;
        border: none;
        background-color: #005580;
        color: white;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 10px;
    }

        .staffView-search-box button:hover {
            background-color: #004466;
        }

.search-container {
    margin-left: 5%;
    transform: scale(0.9);
    display: flex;
    align-items: center;
    margin-top: 11px;
}

    .search-container input[type="text"] {
        width: 300px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        outline: none;
    }

        .search-container input[type="text"]::placeholder {
            color: #aaa;
        }

    .search-container button {
        padding: 6px 25px;
        background-color: #004a6e;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 10px;
    }

        .search-container button:hover {
            background-color: #003a56;
        }

.staffViewDropdown-status-container {
    margin-left: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #00436C;
}

.staffViewDropdown-status-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

.staffViewDropdown-status-select {
    width: 75%;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #00436C;
    border-radius: 4px;
    color: #333333;
}

.staffViewSidebar {
    margin-top: 20px;
    height: 90%;
    padding: 0px;
    overflow-y: auto;
    height: 360px;
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent;
}



    .staffViewSidebar::-webkit-scrollbar {
        width: 8px;
    }

    .staffViewSidebar::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px;
    }

    .staffViewSidebar::-webkit-scrollbar-track {
        background: transparent;
    }

.search-box-staff {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .search-box-staff input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        color: #aaa;
    }

    .search-box-staff i {
        margin-right: 10px;
        color: #aaa;
    }

.menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #BEBEBE;
}

    .menu-item i {
        margin-right: 10px;
        margin-left: 20px;
        color: #135176;
    }

    .menu-item.active {
        background-color: #BBDCF9;
        font-weight: bold;
    }

.staffViewContent {
    height: 100%;
    width: 100%;
}

    .staffViewContent img {
        margin-right: 08px;
        padding-left: 10px;
    }

.staff-view-image-review {
    transform: scale(0.5);
}

.staffcontentLayout {
    display: flex;
    height: 500%;
    overflow: hidden;
}

.staff-card {
    margin-top: 2%;
    background: linear-gradient(89deg, #FFF 0.61%, #F4F0F0 99.91%);
    border-radius: 10px;
    width: 95%;
    padding: 1px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
}

.staff-card-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.staff-card-header-left {
    display: flex;
    align-items: center;
}

    .staff-card-header-left i {
        font-size: 24px;
        margin-right: 10px;
        margin-top: 1rem;
    }

    .staff-card-header-left .name {
        font-size: 16px;
        font-weight: bold;
        margin-top: 1rem;
    }

    .staff-card-header-left .id {
        font-size: 16px;
        margin-left: 5px;
        margin-top: 1rem;
    }

.staff-card-header-right {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

    .staff-card-header-right i {
        font-size: 16px;
        color: #666;
        margin-top: 0rem;
    }

.staff-card-body {
    display: flex;
    justify-content: space-between;
    transition: max-height 0.3s ease, border-top 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    max-height: 0;
    border-top: 2px solid #ddd;
    padding: 0 20px;
}

    .staff-card-body .left,
    .staff-card-body .right {
        display: flex;
        flex-direction: column;
    }

        .staff-card-body .left i,
        .staff-card-body .right i {
            margin-right: 10px;
        }

        .staff-card-body .left .item,
        .staff-card-body .right .item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .staff-card-body .right .item:last-child {
                margin-bottom: 0;
            }

.staff-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.staff-search-container {
    display: flex;
    border-bottom: 1px solid #938C8C;
    padding: 2px 0;
}

    .staff-search-container input {
        flex: 1;
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        padding: 5px;
    }

.table-container {
    height: 340px;
    overflow-y: auto;
    margin-top: 10px;
    background-color: #fff;
}

    .table-container::-webkit-scrollbar {
        width: 10px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #fff;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #135176;
        border-radius: 100px;
        height: 20px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    font-size: 14px;
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #7D7D7D;
}

th {
    background-color: #D9D9D9;
    font-weight: bold;
}

.status-pending {
    color: red;
}

.status-read {
    color: green;
}

.icon {
    margin-right: 5px;
}

.tableChanger {
    position: relative;
    padding: 20px;
    padding-bottom:10px;
    padding-top:10px;
    width: 100%;
}

.readUsers-container,
.pendingUsers-container {
    border-radius: 1%;
    margin-left: 30%;
    width: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.readUsers-header,
.pendingUsers-header {
    background-color: #004b8d;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .readUsers-header h1,
    .pendingUsers-header h1 {
        font-size: 18px;
        margin: 0;
    }

.readUsers-title,
.pendingUsers-title {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
}

.readUsers-search-bar,
.pendingUsers-searchBar {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

    .readUsers-search-bar input,
    .pendingUsers-searchBar input {
        width: 300px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

.readUsers-table-container,
.pendingUsers-tableContainer {
    padding: 0 20px 20px 20px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.header-container-unique {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.header-unique {
    font-size: 18px;
    color: black;
    margin: 10px;
    padding: 10px;
    margin-left: 0rem;
}

.search-bar-unique {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #938C8C;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 2px 0;
}

    .search-bar-unique img {
        height: 20px;
        margin-right: 10px;
        opacity: 0.7;
    }

    .search-bar-unique input {
        flex: 1;
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        padding: 5px;
    }

.table-container-unique {
    height: 420px;
    overflow-y: auto;
    width: 100%;
    padding: 2px;
    margin: 10px auto;
}

#fileTableUnique {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

    #fileTableUnique th {
        background-color: #D8D8D8;
        color: black;
        padding: 12px;
        text-align: left;
        font-size: 16px;
    }

    #fileTableUnique td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        vertical-align: middle;
    }

.icon-unique {
    margin-right: 10px;
    vertical-align: middle;
}

.read-by-unique {
    color: green;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
    text-decoration-color: green;
}

    .read-by-unique .clickable-icon-unique {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .read-by-unique:hover .clickable-icon-unique {
        display: block;
    }

.pending-by-unique {
    color: red;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
    text-decoration-color: red;
}

    .pending-by-unique .clickable-icon-unique {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .pending-by-unique:hover .clickable-icon-unique {
        display: block;
    }

.modal-unique {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.close-unique {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close-unique:hover,
    .close-unique:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }






@media (max-width: 768px) {
    .reviewcontainer {
        flex-direction: column; /* Change to column layout */
    }

    .reviewsidebar-reviewcontainer {
        width: 100%; /* Make sidebar full width */
        order: 1; /* Set order to 1 to appear first */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .reviewcontent {
        width: 100%; /* Make content full width */
        order: 2; /* Set order to 2 to appear second */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .image-container {
        width: 100%; /* Make image container full width */
        order: 3; /* Set order to 3 to appear third */
        display: flex; /* Ensure it displays as flex */
        justify-content: center; /* Center the image */
        margin-top: 10px; /* Optional: Add some margin for spacing */
    }

    #system-review-table {
        width: 100%; /* Make table full width */
        order: 4; /* Set order to 4 to appear fourth */
    }

    .sidebar-line {
        border-right: 0px solid black;
    }
}


.file-search-container1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0bebe;
    padding: 5px 0;
    border-bottom: 1px solid #938C8C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-icon1 {
    margin-right: 08px;
    padding-left: 10px;
}

.file-search-input1 {
    border: none;
    outline: none;
    border: none;
    font-size: 16px;
    flex: 1;
}

.image-container img {
    width: 60%;
    height: 60%;
    margin: auto auto;
}

.image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 450px;
}

.file-search-container2 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0bebe;
    padding: 5px 0;
    margin-bottom: 0;
    height: 30px;
    border-bottom: 1px solid #938C8C;
    margin: 10px;
    width: 40%;
}

.search-icon2 {
    margin-right: 08px;
    padding-left: 10px;
}

.file-search-input2 {
    border: none;
    outline: none;
    border: none;
    font-size: 16px;
    flex: 1;
}

.file-option-icon {
    height: 19px;
    margin-right: 10px;
}

.sidebar-line {
    border-right: 1px solid #585656;
    padding-bottom: 20px;
}

.scrollable-tbody {
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
}

.scrollable-tbody {
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent;
}

    .scrollable-tbody::-webkit-scrollbar {
        width: 8px;
    }

    .scrollable-tbody::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px;
    }

#system-header {
    font-weight: bold;
}


.ReviewReviewTabs {
    display: flex;
    background-color: #e9f1fb;
}

.reviewtab {
    padding: 8px 75px; /* Adjust padding as needed */
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    font-weight: 600;
    color: #626161;
    letter-spacing: 0.2px;
    position: relative; /* Add this to position the border correctly */
    top: 5px; /* Adjust this value to align the text */
}

    .reviewtab.active {
        background-color: #fff;
        border-top: 5px solid #023881; /* Keep the border */
        color: #023881;
        top: 0; /* Reset top position for active tab */
    }



.Review-page-container {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: -2px;
    height: 100%;
}


.staffViewContent {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Ensure it takes full height */
}

.staff-view-image {
    max-width: 80%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}






.staffViewSidebar2 {
    margin-top: 20px;
    height: 90%;
    padding: 0px;
    overflow-y: auto;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent;
}



    .staffViewSidebar2::-webkit-scrollbar {
        width: 8px;
    }

    .staffViewSidebar2::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px;
    }

    .staffViewSidebar2::-webkit-scrollbar-track {
        background: transparent;
    }



.search-and-sidebar-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */

}

.file-search-container1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0bebe;
    padding: 5px 0;
    margin-bottom: 20px; /* Remove margin to keep it close to the sidebar */
}

.staffViewSidebar2 {
    margin-top: 0; /* Remove margin to keep it close to the search bar */
    padding: 0px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent;
}

    /* Scrollbar styles */
    .staffViewSidebar2::-webkit-scrollbar {
        width: 8px;
    }

    .staffViewSidebar2::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px;
    }

    .staffViewSidebar2::-webkit-scrollbar-track {
        background: transparent;
    }

.system-name {
    font-size:18px;
}

.search-btn {
    background-color:#00436C;
    padding:8px 20px;
    border-radius:10px;
    color:white;
}


.container-for-search {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    margin-left: 200px;
}

.file-search-container1 {
    display: flex; /* Use flexbox for the search container */
    align-items: center; /* Center items vertically */
    border-bottom: 1px solid #c0bebe; /* Optional: Add a border for styling */
    padding: 5px 0; /* Optional: Add padding for spacing */
    margin-right: 10px; /* Add some space between the search input and the button */
}

.search-btn {
    padding: 5px 10px; /* Add padding for the button */
    background-color: #005580; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}

    .search-btn:hover {
        background-color: #004466; /* Darker shade on hover */
    }

.staffAfterSearch {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space evenly between child divs */
    align-items: center; /* Align items vertically centered */
}

.reviewtitle2,
.container-for-search,
.staffViewDropdown-status-container {
    flex: 1; /* Allow each div to grow equally */
    margin: 0 10px; /* Add horizontal margin for spacing */
}

/* Optional: To prevent the first and last divs from having extra margin */
.reviewtitle2 {
    margin-left: 0; /* Remove left margin for the first div */
}

.staffViewDropdown-status-container {
    margin-right: 0; /* Remove right margin for the last div */
}

.staffViewContent {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the start */
    min-height: 300px; /* Set a minimum height */
    overflow: hidden; /* Prevent overflow */
}