*, *::before, *::after {
    box-sizing: border-box;
}

.admin-main-content {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top:-2px;
    height:100%;
}

.div-dep-delete-popup {
    justify-content: center;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.add-system-button {
    padding: 8px 0px;
    font-size: 16px;
    font-weight:bold;
    width: 230px;
    background: #00436C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto; 
}

.button-icon {
    width: 16px; 
    height: 16px;
    margin-right: 8px; 
    position: relative;
    top: 2px;
}

.add-system-button:hover {
    background-color: #013656;
}

.highlighted-system {
    background-color: #BBDCF9;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px; 
}

.sidebar-container {
    display: flex;
}

.sidebar2 {
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #585656;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.scrollable-content-list {
    height: 450px;
    overflow-y: scroll;
}

.scrollable-content-list {
    height: 450px;
    overflow-y: scroll;
}

.scrollable-content {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent; 
}

    .scrollable-content::-webkit-scrollbar {
        width: 8px;
    }

    .scrollable-content::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px;
    }

    .scrollable-content::-webkit-scrollbar-track {
        background: transparent; 
    }

        .systems-header {
            font-size: 22px;
            width: 100%;    
            font-weight:bold;
        }

    .sidebar2 input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .sidebar2 ul {
        list-style: none;
        padding: 0;
    }

        .sidebar2 ul li {
            padding: 20px;
            padding-right: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #BEBEBE;
            cursor: pointer;
        }

            .sidebar2 ul li a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
                
            }

.search-container {
    display: flex;
    border-bottom: 1px solid #938C8C;
    width:50%;
    margin-left:20px;
    margin-bottom:20px;
}

    .search-container img {
        color: #999;
        margin-right: 5px;
        font-size: 20px; 
        margin-left:5px;
    }

    .search-container input {
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        flex: 1; 
        padding:5px;
    }

.image-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    height: 450px;
}

    .image-container img {
        width:70%;
        height: 70%;
        margin-top:100px;
    }

.system-container {
    display: flex;
    height: 450px;
    padding:20px;
    padding-top:0px;
}

.header-system-container {
    display: flex;
}

.system-optional-btn {
    width:200px;
    height:20px;
    padding: 10px 20px;
}

.first-container {
    display: flex;
    gap: 10px; 
}

.systems-header {
    font-size: 22px;
    margin-right: auto;
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px; 
}

.edit-system-button,
.delete-system-button {
    font-size: 16px;
    background: #00436C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    height: 30px;
    padding: 5px 0px;
}

.delete-system-button {
    background: #A81A1A;
}

.edit-system-button:hover {
    background-color: #00314E;
}

.delete-system-button:hover {
    background-color: #881212;
}

.file-search-container {
    display: flex;
    border-bottom: 1px solid #938C8C;
    width: 250px;
}

.search-icon {
    color: #999;
    margin-right: 5px;
    width: 20px;
    margin-left: 5px;
}

.file-search-input {
    border: none;
    color: #000;
    font-size: 16px;
    outline: none;
    flex: 1;
    padding: 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.add-system-button {
    padding: 8px 0px;
    font-size: 16px;
    border-radius: 10px;
    width: 230px;
    background: #00436C;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.button-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.add-system-button:hover {
    background-color: #00314E;
}

.sidebar-container {
    display: flex;
}

.sidebar2 {
    background-color: #fff;
    border-right: 1px solid #585656;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.system-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    padding: 20px;
    padding-top: 0px;
}

.header-system-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.first-container {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.file-search-container {
    display: flex;
    align-items: center; 
    border-bottom: 1px solid #938C8C;
    width: 40%;
}

.search-icon {
    color: #999;
    margin-right: 5px;
    width: 20px;
}

.file-search-input {
    border: none;
    color: #000;
    font-size: 16px;
    outline: none;
    flex: 1;
    padding: 5px;
}

.systems-name {
    font-size:18px;
}

.table-container {
    margin-top: 23px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

    .file-table thead th {
        background-color: #D8D8D8;
        padding: 12px;
        text-align: left;
        font-weight: bold;
    }

    .file-table tbody td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

.action-icon {
    cursor: pointer;
    margin-right: 8px;
    color: #333;
}

    .action-icon:hover {
        color: #007bff;
    }

.file-option-icon {
    width: 18px;
    cursor: pointer;
}

.file-icon {
    margin-bottom:-2.5px;
    margin-right: 5px;
    }

.scrollable-tbody {
    height: 460px; 
    overflow-y: auto;    
}

.scrollable-tbody {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent; 
}

    .scrollable-tbody::-webkit-scrollbar {
        width: 8px; 
    }

    .scrollable-tbody::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px; 
    }

    .scrollable-tbody::-webkit-scrollbar-track {
        background: transparent; 
    }

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000; 
    display: none;
}





.dark-overlay-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2E7D32, #4CAF50, #81C784);
    background-size: 400% 400%;
    animation: greenGradientAnimation 1s ease forwards;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes greenGradientAnimation {
    0% {
        background-position: 0% 50%;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        background-position: 100% 50%;
        opacity: 0.4;
    }
}



.dark-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}

.addsystem-popup {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fff;
    border-radius: 10px;
    z-index: 1001; 
    width: 60%; 
    height: 89%;
    margin-bottom: 200px;
    border-radius: 20px 20px 10px 10px;
}

.add-system-header {
    background-color: #00436C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    top: 0;
    padding: 10px 20px;
}

    .add-system-header .title {
        font-size: 18px;
        font-weight:bold;
    }

    .add-system-header .close-icon {
        width:15px;
        cursor: pointer;
    }

.add-system-container-popup {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    border-radius:10px;   
    overflow: hidden;
}
.add-system-content {
    padding: 20px;
    padding-top:5px;
    padding-bottom:0px;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size:16px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.form-group textarea {
    height: 100px;
    max-width:100%;
    overflow-y: auto;
}

.form-group textarea {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent; 
}

    .form-group textarea::-webkit-scrollbar {
        width: 8px; 
    }

    .form-group textarea::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px; 
    }

    .form-group textarea::-webkit-scrollbar-track {
        background: transparent; 
    }

.form-group.half-width {
    width: 48%;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.division-container {
    margin-top: 15px;
    height: 360px;
    overflow-y: auto;
}

.division-container {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent; 
}

    .division-container::-webkit-scrollbar {
        width: 8px; 
    }

    .division-container::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px;
    }

    .division-container::-webkit-scrollbar-track {
        background: transparent; 
    }

.division {
    border-radius: 10px;
    margin-bottom: 20px;
}

.division-header {
    background-color: #E9E9EF;
    padding: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

    .division-header.active {
        background-color: #D5EBFE;
   
    }

    .division-header.selected {
        background-color: #D5EBFE;
    }

    .division-header i {
        margin-right: 10px;
    }

.division-content {
    display: none;
    padding: 10px;
    padding-bottom: 0px;
}

    .division-content.active {
        display: block;
    }

.selected-count {
    color: #063468;
    margin-right:10px;
}

.division-name {
    margin-left:10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

    .checkbox-group label {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 20px;
    }

    .checkbox-group input[type="checkbox"] {
        margin-right: 5px;
    }

.footer {
    text-align: right;
    padding: 10px;
    padding-right:20px;
    background-color: #fff;
   
}

.save-btn {
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

        .save-btn:hover {
            background-color: #013656; 
        }

.reset-btn {
    border: 1px solid #003366;
    color: #003366;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 0px;
    cursor: pointer;
    background-color:white;
    width: 200px;
}

    .reset-btn:hover {
        color: #013656;
        border: 1px solid #013656;
    }

.department,
.select-all {
    width: 15px;
    height: 15px;
}


.add-system-searchbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.section-title {
    margin: 0; 
}

.file-search-container {
    display: flex; 
    align-items: center;
}

.search-icon {
    margin-right: 8px; 
}

.division-name {
    font-weight:bold;
}

/*.modal {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    z-index: 1001;
    background-color: white;
    border-radius: 5px;
    width: 550px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.modalDelete {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    z-index: 1001;
    background-color: white;
    border-radius: 5px;
    width: 550px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

    .modalDelete .icon {
        font-size: 48px;
        color: #666;
        margin-bottom: 20px;
    }

    .modalDelete p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .modalDelete .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

        .modalDelete .buttons .confirm i {
            font-size: 16px;
        }

.modal-notification {
    position: fixed;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

    .modal-header h2 {
        font-size: 18px;
        margin: 0;
    }

    .modal-header .close {
        font-size: 20px;
        cursor: pointer;
    }

.modal-body {
    font-size: 16px;
    color: #333;
}

    .modal-body p {
        margin: 0 0 10px;
    }*/

.file-list {
    background-color: #f9e6d4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.close {
    margin-top:-5px;
}

.file-list {
    max-height: 250px;
    height:250px;
    margin-top:10px;
    overflow-y: auto; 
}

.file-list {
    scrollbar-width: thin; 
    scrollbar-color: #821414 transparent; 
}

    .file-list::-webkit-scrollbar {
        width: 8px; 
    }

    .file-list::-webkit-scrollbar-thumb {
        background-color: #821414;
        border-radius: 10px; 
    }

    .file-list::-webkit-scrollbar-track {
        background: transparent;
    }

/*.modal-header-delete-system {
    font-size:16px;
}

    .modal-header-delete-system p {
      */  margin-bottom:10px;
    }

.file-list .file-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #B33B06;
}

        .file-list .file-item img {
            margin-right: 10px;
        }

/*.modal-footer {
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
}

    .modal-footer button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width:180px;
        font-size: 16px;
    }

    .modal-footer .cancel-btn {
        background-color: #fff;
        color: #000;
        border:1px solid black;
        margin-right:10px;
    }

    .modal-footer .delete-btn {
        background-color: #A81A1A;
        color: white;
    }*/

.delete-icon-popup {
    margin-bottom:-3px;
    margin-right:10px;
}

.notification {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-top: 5px solid #00b894;
    text-align: center;
}

    .notification .icon {
        font-size: 50px;
        color: #00b894;
    }

    .notification .message {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }

    .notification .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

.file-delete-notification {
    position: relative;
    width: 550px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

    .file-delete-notification .icon {
        font-size: 50px;
        color: #00b894;
    }

    .file-delete-notification .message {
        margin-top: 10px;
        font-size: 16px;      
        color: #333;
    }

    .file-delete-notification .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

.footer-file-delete {
    margin-top:20px;
}

/*.modal-notification-edit {
    position: fixed;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 500px;
    background-color:#fff;
    border-radius: 10px;
}

.modal-header {
    background-color: #004a70;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

    .modal-header h2 {
        margin: 0;
        font-size: 18px;
    }

    .modal-header .close {
        font-size: 20px;
        cursor: pointer;
    }

.modal-body {
    padding: 20px;
    padding-top:10px;
}

    .modal-body label {
        display: block;
        margin-bottom: 5px;       
    }

    .modal-body input[type="text"],
    .modal-body select {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #6D6D6D;
        border-radius: 10px;
        font-size: 16px;
    }

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

    .modal-footer button {
        padding: 8px 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
    }

    .modal-footer .reset-btn {
        background-color: white;
        color: #004a70;
        border: 1px solid #004a70;
        margin-right: 10px;
    }

    .modal-footer .save-btn {
        background-color: #004a70;
        color: white;
    }

#close-icon5 {
    cursor:pointer;
}

.modal-delete-system {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    z-index: 1001;
    color:black;
    border-radius: 5px;
    width: 550px;
    padding: 20px;
    padding-bottom:0px;
    box-sizing: border-box;
    border-radius: 10px;
}*/

#close-icon2 {
    margin-top:-25px;
}

.scrollable-content-list {
    height: 450px;
    overflow-y: scroll;
}

.sidebar-container {
    display: flex; 
}

.sidebar2 {
    width: 24%; 
    background-color: #fff;
    border-right: 1px solid #585656; 
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.image-container,
.system-container {
    width: 70%;
    display: flex;
    flex-direction: column; 
}

.image-container {
    flex-grow:1;
    display:flex;
    justify-content:center;
    height:450px;
}

    .image-container img {
        width: 70%; 
        height: 70%;
        margin:auto auto;
    }

.system-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top:0px;
    height: 50%; 
}
.scrollable-content-list {
    height: 450px;
    overflow-y: scroll;
}

.sidebar-container {
    height: 530px;
}
.sidebar2 {
    padding-bottom:0px;
    border-bottom-left-radius:10px;
}

.custom-form-group {
    display: none; 
}

.add-dep-popup-dropdown {
    display:block;
}

.div-secondary-container {
    width: 50%;
}

.division-selector {
width:50%;
}
.form-group input[type="text"] {
    width: 50%;
}

.dropdown-content {
    width: 50%;
}

.add-dep-button {
    width: 280px;
}

.edit-del-instruc {
    font-size: 22px;
    margin-bottom:20px;
}


/* Media Queries */
@media (max-width: 768px) {
    .dropdown-content {
        width: 100%;
    }

    .form-group input[type="text"] {
        width: 100%;
    }

    .division-selector {
        width: 100%;
    }

    .image-container img {
        margin-top: 0;
    }

    .sidebar-container {
        height: auto;
        border-radius: 0;
        border-bottom: none;
        flex-direction: column; 
        width: 100%; 
    }

    .sidebar2 {
        margin-bottom: 50px;
        width: 100%; 
        border: none;
    }

    .scrollable-content-list {
        height: 450px;
        width:100%;
        overflow-y: scroll;
    }

    .image-container, .system-container {
        width: 100%;
    }

    .system-container {
        order: 1;
    }

    .image-container {
        order: 2; 
    }    

    .header-container {
        flex-direction: column; 
        align-items: flex-start; 
        border-radius: 10px;
    }

    .add-system-button {
        width: 100%; 
        margin-top: 20px; 
    }

    .search-container {
        width: 90%;
    }

    .file-search-container {
        width: 100%;
    }

    .file-table {
        font-size: 14px;
    }

    #systemDropdown {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .header-system-container {
        flex-direction: column;
        align-items: flex-start; 
    }

    .first-container,
    .file-search-container {
        width: 100%; 
    }

    .edit-system-button,
    .delete-system-button {
        width: 100px;
    }

    .file-search-container {
        margin-top: 20px;
    }

    .header-system-container {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        width: 100%; 
    }

    .first-container {
        display: flex; 
        align-items: center; 
        gap: 10px; 
        flex-grow: 1;
    }

    .button-container {
        margin-left: auto;
    }

    .file-option-icon {
        margin: 0;
    }

    .search-container {
        display: none; 
    }

    #systems-header {
        display: none;
    }
   
    .systems-header-label {
        margin-bottom:20px;
    }

    .scrollable-content-list {
        height: auto;
        overflow-y: hidden;
    }

    .custom-form-group {
        display:block;
    }
        
    .add-system-searchbar {
        display: block; 
        margin-bottom: 10px; 
    }

    .form-row {
        display: block;
    }

    .form-group {
        display: block; 
        width: 100%;
        margin-bottom: 10px; 
    }

        .form-group.half-width {
            width:100%;
        }

  /*  .modal-delete-system {
        width:90%;
    }

    .modal-footer {
        width:100%;
        justify-content:center
    }
    .modal-notification-edit {
        width: 90%;
        margin:0 auto;
        left:50%;
    }
    .modal-notification {
        width:60%;
    }*/

    .division-container {
        margin-top: 15px;
        height: 160px;
        overflow-y: auto;
    }

    .addsystem-popup {
        width: 90%;
        height: 83%;
    }

    .add-dep-button {
        width:100%;
    }
}

#selected-option {
    color: #333333;
}

.add-dep-form-popup {
    margin-top: 20px;
}

.custom-form-group {
    margin-bottom: 0px;
    width:100%;
    margin-top: 20px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown-content {
    display: none;
    position: sticky;
    background-color: #fff;
     border: 1px solid #6D6D6D;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.custom-dropdown-list {
    height: 150px;
    overflow-y: scroll;
}

.custom-dropdown-list {
    scrollbar-width: thin;
    scrollbar-color: #00436C transparent; 
}

    .custom-dropdown-list::-webkit-scrollbar {
        width: 8px; 
    }

    .custom-dropdown-list::-webkit-scrollbar-thumb {
        background-color: #00436C;
        border-radius: 10px; 
    }

    .custom-dropdown-list::-webkit-scrollbar-track {
        background: transparent; 
    }

    .custom-dropdown-list div {
        padding: 8px 16px;
        cursor: pointer;
    }

        .custom-dropdown-list div:hover {
            background-color: #BBDCF9;
        }

    .custom-dropdown-list .active {
        font-weight: bold;
    }

.custom-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #6D6D6D;
    border-bottom: none;
    border-radius: 4px;
    cursor: pointer;
}

    .custom-dropdown-toggle i {
        margin-left: 10px;
        transition: transform 0.3s;
    }

    .custom-dropdown-toggle.open i {
        transform: rotate(180deg);
    }

.custom-selector {
    border: 1px solid #6D6D6D;
    border-radius: 10px;
}

.custom-search-container {
    display: flex;
    border-bottom: 1px solid #938C8C;
    margin: 20px;
    margin-top: 0px;
}

    .custom-search-container img {
        color: #999;
        margin-right: 5px;
        font-size: 20px;
        margin-left: 5px;
    }

    .custom-search-container input {
        border: none;
        color: #000;
        font-size: 16px;
        outline: none;
        flex: 1;
        padding: 5px;
    }

#custom-search-input {
    margin-left: 0px;
    border: none;
}

.custom-dropdown-toggle::after {
    content: none;
}

.custom-form-group {
    padding:20px;
    padding-top:0px;
}

.custom-dropdown-content {
    display: none; 
    position: sticky; 
    background-color: #fff;
    min-width: 100%;
    border: 1px solid #6D6D6D;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1000;
    overflow-y: auto; 
}

.edit-system-button,
.delete-system-button,
.reset-changes {
    font-size: 16px;
    gap: 10px;
    background: #00436C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    margin-left: 5px;
    height: 35px;
    padding: 5px 0px;
}

.delete-system-button {
    background: #A81A1A;
}

.reset-changes {
    background: white;
    color: #00436C;
    border: 1px solid #00436C;
    margin-left: 0px;
}

.edit-system-button:hover {
    background-color: #00314E;
}

.delete-system-button:hover {
    background-color: #881212;
}

.depname-input {
    margin-top: 10px;
    width: 50%;
}

.form-group {
    margin-bottom: 00px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.depname-input {
    padding: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;   
    border: 1px solid #6D6D6D;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.dropdown-list {
    height: 150px;
    overflow-y: scroll;
}

.dropdown-list {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent;
}

    .dropdown-list::-webkit-scrollbar {
        width: 8px; 
    }

    .dropdown-list::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px; 
    }

    .dropdown-list::-webkit-scrollbar-track {
        background: transparent; 
    }

    .dropdown-list div {
        padding: 8px 16px;
        cursor: pointer;
    }

        .dropdown-list div:hover {
            background-color: #BBDCF9;
        }

    .dropdown-list .selected {
        font-weight: bold;
    }

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #6D6D6D;
    border-bottom: none;
    border-radius: 4px;
    cursor: pointer;
}

    .dropdown-toggle i {
        margin-left: 10px;
        transition: transform 0.3s;
    }

    .dropdown-toggle.open i {
        transform: rotate(180deg);
    }

.department-container {
    padding: 20px;
    padding-top: 0px;
}

.depname-input {
    border: 1px solid #6D6D6D;
}

.division-selector {
    border: 1px solid #6D6D6D;
    border-radius: 10px;
}

.dropdown-content input[type="text"]:focus {
    outline: none;
}

.second-search img {
    width: 18px;
}

#search-division {
    margin-left: 0px;
    border: none;
}

.button-container {
    margin-top: 20px;
}

.department-li {
    border-bottom: 1px solid #BEBEBE;
}

.depname-input {
    border: 1px solid #6D6D6D;
}

.popup-content {
    color:black;
}

.overlay-edit-dep {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .overlay-edit-dep.show {
        display: flex;
        opacity: 1;
    }

.overlay-edit-sys {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .overlay-edit-sys.show {
        display: flex;
        opacity: 1;
    }

.popup {
    position: relative;
    background-color: white;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s ease;
}

.edit-success-dep {
    margin-top:20px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    color: black;
    line-height: 1;
    transition: transform 0.2s ease;
}

.overlay-edit-dep.show .popup {
    transform: scale(1);
    opacity: 1;
}
.overlay-edit-sys.show .popup {
    transform: scale(1);
    opacity: 1;
}


.del-dep-pop {
    padding-left:0px;
    padding-right:0px;
}

#system-name {
    width:100%;
}

.div-edit.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #000;
}

#division-updated-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

    #division-updated-popup .div-edit-header {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #fff;
        justify-content: end;
    }

   /* #division-updated-popup .modal-body {
        padding: 20px;
        text-align: center;
    }

    #division-updated-popup .modal-footer {
        display: flex;
        justify-content: center;
        padding: 15px;
        border-top: 1px solid #e0e0e0;
    }*/

    #division-updated-popup .save-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        #division-updated-popup .save-btn:hover {
            background-color: #0056b3;
        }

@media (max-width: 768px) {
    #systemList {
        display: none;
    }

    .custom-dropdown-list {
        display: block !important;
    }
}

/*.modal-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; 
    width: 400px;
    display: none; 
}

.modal-header-success {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #00436C; 
    color: white; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body-success {
    padding: 20px;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}*/

.ok-btn {
    background-color: #00436C;
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

    .ok-btn:hover {
        background-color: #005f8d; 
    }

#close-success-popup {
    width: 20px; 
    height: 20px; 
    cursor: pointer; 
}

.dark-overlay123 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: none;
}










/* EDIT SYSTEM POPUP NEW STYLES*/

.edit-division-container {
    margin-top: 15px;
    height: 360px;
    overflow-y: auto;
}

.edit-division-container {
    scrollbar-width: thin; 
    scrollbar-color: #00436C transparent;
}

    .edit-division-container::-webkit-scrollbar {
        width: 8px; 
    }

    .edit-division-container::-webkit-scrollbar-thumb {
        background-color: #00436C; 
        border-radius: 10px;
    }

    .edit-division-container::-webkit-scrollbar-track {
        background: transparent; 
    }

.edit-division {
    border-radius: 10px;
    margin-bottom: 20px;
}

.edit-division-header {
    background-color: #E9E9EF;
    padding: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

    .edit-division-header.active {
        background-color: #D5EBFE;
    }

    .edit-division-header.selected {
        background-color: #D5EBFE;
    }

    .edit-division-header i {
        margin-right: 10px;
    }

.edit-division-content {
    display: none;
    padding: 10px;
    padding-bottom: 0px;
}

    .edit-division-content.active {
        display: block;
    }

.edit-selected-count {
    color: #063468;
    margin-right: 10px;
}

.edit-division-name {
    margin-left: 10px;
    font-weight:bold;
}

.edit-checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

    .edit-checkbox-group label {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 20px;
    }

    .edit-checkbox-group input[type="checkbox"] {
        margin-right: 5px;
    }

.edit-department,
.edit-select-all {
    width: 15px;
    height: 15px;
}


.save-btn:disabled {
    background-color: #6c757d;
    color: white; 
    cursor: not-allowed; 
    opacity: 0.65; 
}


.div-edit:disabled {
    background-color: #6c757d; 
    color: white; 
    cursor: not-allowed;
    opacity: 1; 
}






.modal-notification {
    animation: fadeIn 0.3s ease-out;
}

.department-added-popup {
    animation: fadeIn 0.3s ease-out;
}

.system-added-popup {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal-success-green .modal-header-success {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-success-green .modal-body-success {
    padding: 30px 20px;
    text-align: center;
}

    .modal-success-green .modal-body-success img {
        max-width: 100px;
        margin-bottom: 20px;
    }

    .modal-success-green .modal-body-success h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .modal-success-green .modal-body-success p {
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 20px;
    }

.modal-success-green .modal-footer {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: center;
}

.modal-success-green .ok-btn {
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .modal-success-green .ok-btn:hover {
        background: #E8F5E9;
        transform: scale(1.05);
    }

#close-success-popup {
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

    #close-success-popup:hover {
        opacity: 1;
    }



.close-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

    .close-icon:hover {
        opacity: 1;
    }



.save-btn-file-edit {
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

    .save-btn-file-edit:hover {
        background-color: #013656;
    }


    .save-btn-file-edit:disabled {
        background-color: #6c757d; /* Gray background when disabled */
        color: white; /* Keep the text color white */
        cursor: not-allowed; /* Change cursor to indicate it's not clickable */
        opacity: 0.65; /* Slightly transparent */
    }


.reset-btn-file-edit {
    border: 1px solid #003366;
    color: #003366;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 0px;
    cursor: pointer;
    background-color: white;
    
    width: 200px;
}

.reset-btn-file-edit:hover {
    color: #013656;
    border: 1px solid #013656;
}


.view-status {
    color: white;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 5px !important;
    text-align: center !important;
    background-color: #0F2E6B;
    cursor: pointer;
    width: 70px !important;
    margin-right: 7px !important;
}

.edit-status {
    color: white !important;
    background-color: #0F2E6B !important;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-align: center !important;
    display: inline-block;
    cursor: pointer;
    margin-right: 7px !important;
}

.delete-status {
    color: white !important;
    background-color: indianred !important;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-align: center !important;
    display: inline-block;
    cursor: pointer;
    margin-right: 7px !important;
}

.disable-status {
    color: white !important;
    background-color: indianred !important;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-align: center !important;
    display: inline-block;
    cursor: pointer;
    margin-right: 7px !important;
}

.enable-status {
    color: white !important;
    background-color: forestgreen !important;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-align: center !important;
    display: inline-block;
    cursor: pointer;
    margin-right: 7px !important;
}


