body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

@keyframes firstLoad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../Assets/Login.png);
    background-size: cover;
    background-position: center;
}

.OuterLoginBox {
    /*animation: firstLoad;
    animation-duration: 1s;
    animation-timing-function: ease-in;*/
    transform: scale(1.2);
    padding: 5px 10px 5px 10px;
    width: 385px;
    height: 485px;
    margin-left: 60%;
    border-radius: 0px 30px;
    border: 10px solid var(--Schemes-On-Primary, #FFF);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
}

.login-box {
    position: relative;
    border-radius: 0px 20px;
    background: var(--Schemes-On-Primary, #FFF);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 20px 40px 20px 40px;
    width: 350px;
    text-align: center;
    margin-left: -0.7%;
    margin-top: 0.5%;
}

.LogoWithT {
    margin-left: -27%;
    transform: scale(0.65);
}

.errorinput {
    font-family: 'Inter 18pt 18pt';
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

.login-box input[type="text"] {
    font-size: 15px;
    border: none;
    background-color: #FBFBFB;
    padding-left: 60px;
    background-image: url(../Assets/userIcon.svg) !important;
    background-position: 10px 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
}

    .login-box input[type="text"]::placeholder {
        color: #A9A9A9; /* Change to your desired placeholder color */
        font-family: Arial; /* Set the font for the placeholder */
        font-size: 16px; /* Set the font size for the placeholder */
    }

.login-box input[type="password"] {
    font-size: 15px;
    border: none;
    background-color: #FBFBFB;
    padding-left: 60px;
    background-image: url(../Assets/passwordIcon.svg);
    background-position: 14px 50%;
    background-size: 15px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

    .login-box input[type="password"]::placeholder {
        color: #A9A9A9; /* Change to your desired placeholder color */
        font-family: Arial; /* Set the font for the placeholder */
        font-size: 16px; /* Set the font size for the placeholder */
    }

.login-box button {
    font-family: Arial;
    font-weight: bold;
    margin-top: 7%;
    width: 100%;
    padding: 10px;
    background: linear-gradient(120deg, #0769A5, #0083AF);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    .login-box button:hover {
        background-color: #0056b3;
    }

.login-box .footer {
    margin-top: -5%;
    font-size: 12px;
    color: #999;
}

    .login-box .footer p {
        font-size: 10px;
        font-family: Arial;
    }

    .login-box .footer img {
        width: 300px;
        height: 50px;
        margin-top: 10px;
    }

#error:empty {
    display: none;
}

#error2:empty {
    display: none;
}

#error {
    position: absolute; /* Position the error messages absolutely */
    left: 12%; /* Adjust as needed */
    font-family: arial;
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
}

#error2 {
    position: absolute; /* Position the error messages absolutely */
    left: 12%; /* Adjust as needed */
    font-family: 'Inria Sans';
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
}

.LoginHere {
    margin-top: -4%;
    margin-bottom: 3%;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center the text vertically */
    text-align: center; /* Center the text */
    font-family: Arial;
    font-weight: bold;
    color: #575757;
}

    .LoginHere::before,
    .LoginHere::after {
        content: ""; /* Required for pseudo-elements */
        flex: 1; /* Allow the lines to grow */
        border-bottom: 2px solid #575757; /* Change color and thickness as needed */
    }

    .LoginHere span {
        padding: 0 15px; /* Space between the lines and the text */
    }

.SLLogo2 {
    transform: scale(0.7);
    margin-left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#username {
    font-size: 16px;
    font-family: Arial;
}

#password {
    font-size: 16px;
    font-family: Arial;
}

@media (max-width: 1024px) {
    .container2 {
        justify-content: center;
    }

    .OuterLoginBox {
        /*animation: firstLoad;
        animation-duration: 1s;*/
        /*animation-timing-function: ease-in;*/
        transform: scale(1.2);
        padding: 5px 10px 5px 10px;
        width: 385px;
        height: 485px;
        border-radius: 0px 30px;
        border: 10px solid var(--Schemes-On-Primary, #FFF);
        box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
        margin-left: 0;
        transform: scale(1.2);
    }
}


/* Media Queries */
@media (max-width: 768px) {

    .container2 {
        justify-content: center;
    }

    .OuterLoginBox {
        width: 385px;
        height: 485px;
        margin-left: 0;
        transform: scale(1);
    }

    .login-box {
        width: 350px;
        height: 450px;
        padding: 20px 40px 20px 40px;
    }
}



.dark-overlay-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #B71C1C, #D32F2F, #FF5252);
    background-size: 400% 400%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease;
}




.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-notification-edit {
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    position: relative;
    z-index: 1001;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.div-edit-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-bottom: 0px;
}

.popup-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0px;
}

    .modal-body img {
        max-width: 100px;
        margin-bottom: 15px;
    }
