.modal-notification-edit4 {
    background-color: white;
    border-radius: 8px;
    width: 280px;
    overflow: hidden;
    position: fixed;
    top: 13.7%;
    left: 86.5%;
    transform: translate(-50%, -50%);
    border: 1px solid #B5B5B5;
    z-index: 1001;
}



.modal-header3 {
    background-color: #00436C;
    z-index: 10;
    color: white;
}

    .modal-header3 h2 {
        margin: 0;
        font-size: 18px;
        color: white;
    }


.modal-body4 {
    padding: 0px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 1px solid #BCBBBB;
    width: 70%;
    margin: 0 auto;
    margin-top: -45px;
    z-index: 100;
    position: sticky;
}

    .modal-body4 h2 {
        font-weight: bold;
        font-size: 32px;
    }


.modal-footer3 {
    display: flex;
    justify-content: center;
    padding: 0px;
    border: none;
    margin-bottom: 15px;
    margin-right: 20px;
}

    .modal-footer3 button {
        background-color: #00436C;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        width: 120px;
        padding: 5px 18px;
    }

        .modal-footer3 button.reset-btn2 {
            background-color: transparent;
            border: none;
            color: black;
        }

        .modal-footer3 button + button {
            margin-left: 5px;
        }

.save-btn2 {
    margin: 0px;
}

.reset-btn2 {
    margin: 0px;
}

.close-icon6 {
    margin-left: 88%;
    margin-top: 5px;
    width: 16px;
    z-index: 1100;
    cursor: pointer;
}
