@{
    ViewData["Title"] = "User Overview";
    ViewData["CustomNavbar"] = true;
    ViewData["UserHeader"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/UserOverview.css" />
</head>
<body>
    <img src="~/Assets/banner-new.svg" alt="Banner" class="user-banner" />
    <div class="main-container">
        <h1>User Overview Page12</h1>
    </div>
</body>
</html>