@{
    ViewData["Title"] = "User Overview";
    ViewData["CustomNavbar"] = true;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>User Overview Page</h1>
</body>
</html>