/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
    z-index: 1000; /* On top of other content */
    display: none; /* Initially hidden */
}

.dark-overlay6 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: 1000; /* On top of other content */
    display: none; /* Initially hidden */
}

a {
  color: #0077cc;
  padding:0;
}

.container-fluid {
    padding:0;
}

.logout-icon {
    width: 10px;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



.user-navbar {
    background: linear-gradient(90deg, #06182C, #05448B);
    padding: 0px 25px;
height:43px;
    
}

.navbar-brand {
    flex-grow: 0;
    margin-right:0;
}

.centered-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: space-between; 
 
}

.navbar-brand span {
    font-weight: bold;
    color: #3EB1FF; 
}

.nav-link {
    color: red;
    padding: 0;
}
.footer-section {
    background-color: #063468;
    text-align: end;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    height: 30px;
    width: 100%;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    height: 100%;
    gap: 8px;
}

.copyright-icon {
    width: 16px; 
    height: 16px;
}


.line-seperator {
    width:0px;
}

.bold-white-text {
    font-weight: bold;
    color: white;
}


.navbar .nav-link.bold-white-text {
    font-weight: bold;
    color: white !important;
}


.navbar-custom .nav-link.dashboard-active {
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-custom .nav-link.file-repository {
    font-weight: normal;
    color: #ffffff8c !important;
}

.nav-link {
    padding-top:0px;
    padding-bottom:0px;
    font-size:24px;
}

















/* Additional CSS for better responsiveness */
.navbar-nav {
    flex-direction: column; /* Stack items vertically on small screens */
}

    .navbar-nav .nav-item {
        text-align: center; /* Center align text in nav items */
    }

@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: row; /* Row layout for larger screens */
    }
}

.user-navbar {
    padding: 0 15px; /* Adjust padding for better spacing */
}

.navbar-icons {
    margin-left: auto; /* Push icons to the right */
}
