@{
    ViewData["Title"] = "Login Page";
    ViewData["HideNavBar"] = true;
}

<html>
<head>
    <title>
        AeroVault - Login Page
    </title>
    <link rel="stylesheet" href=/Content/css/Login.css />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (TempData["ErrorMessage"] != null)
    {
        <script data-error-message="@TempData["ErrorMessage"]"></script>
    }
</head>
<body>

    <div id="loading-screen" class="loading-screen" style="display: none;">
        <img src="../Content/Assets/AeroVault-Logo.svg" alt="Loading..." class="loading-icon" />
        <p>Loading, please wait...</p>
        <div class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>


    <div class="container2">
        <div class="OuterLoginBox">
            <div class="login-box">
                <img src="/Content/Assets/LogoWithText.svg" class="LogoWithT" />
                <div class="LoginHere">
                    <span>
                        Login Here
                    </span>
                </div>
                <form id="form" asp-controller="Login" asp-action="Authenticate" method="post">
                    <input id="username" name="staffNo" placeholder="Staff ID" type="text" class="errorinput" autocomplete="off" value="" />
                    <div id="error"></div>
                    <input id="password" name="password" placeholder="Password" type="password" class="errorinput" autocomplete="off" value="" />
                    <div id="error2"></div>

                    <button type="submit" id="submit">
                        Login
                    </button>
                </form>
                <div class="footer">
                    <img class="SLLogo2" src="/Content/Assets/SLLogo.svg" />
                    <p>
                        © 2025 SriLankan IT Systems. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/Login.js"></script>
</body>
</html>