<html>

<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <style>
        .status-form-group {
            margin-bottom: 0px;
            width: 300px;
            margin-top: 30px;
        }

        .status-dropdown {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: 10px;
        }

        .status-dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 100%;
            border: 1px solid #6D6D6D;
            border-top: none;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            z-index: 1;
        }

        .status-dropdown-list {
            height: 150px;
            overflow-y: scroll;
        }

        .status-dropdown-list::-webkit-scrollbar {
            width: 10px;
            background-color: #fff;
        }

        .status-dropdown-list::-webkit-scrollbar-thumb {
            background-color: #135176;
            border-radius: 100px;
            height: 20px;
        }

        .status-dropdown-list div {
            padding: 8px 16px;
            cursor: pointer;
        }

        .status-dropdown-list div:hover {
            background-color: #BBDCF9;
        }

        .status-dropdown-list .active {
            font-weight: bold;
        }

        .status-dropdown-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            border: 1px solid #6D6D6D;
            border-bottom: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .status-dropdown-toggle i {
            margin-left: 10px;
            transition: transform 0.3s;
        }

        .status-dropdown-toggle.open i {
            transform: rotate(180deg);
        }

        .status-selector {
            border: 1px solid #6D6D6D;
            border-radius: 10px;
        }

        .status-search-container {
            display: flex;
            border-bottom: 1px solid #938C8C;
            margin: 20px;
            margin-top: 0px;
        }

        .status-search-container img {
            color: #999;
            margin-right: 5px;
            font-size: 20px;
            margin-left: 5px;
        }

        .status-search-container input {
            border: none;
            color: #000;
            font-size: 16px;
            outline: none;
            flex: 1;
            padding: 5px;
        }

        #status-search-input {
            margin-left: 0px;
            border: none;
        }

        .status-dropdown-toggle::after {
            content: none;
        }
    </style>
</head>

<body>
    <div class="status-form-group">
        <label class="status-label" for="status-selector">Select Status</label>
        <div class="status-dropdown">
            <div class="status-dropdown-toggle status-selector" onclick="toggleStatusDropdown()">
                <span id="selected-status">Information Technology</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="status-dropdown-content">
                <div class="status-search-container">
                    <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                    <input type="text" id="status-search-input" placeholder="Search Status"
                        onkeyup="filterStatusOptions()" onclick="event.stopPropagation()">
                </div>
                <div class="status-dropdown-list">
                    <div onclick="selectStatusOption(this)" class="active">Information Technology</div>
                    <div onclick="selectStatusOption(this)">Human Resource</div>
                    <div onclick="selectStatusOption(this)">Flight Operations</div>
                    <div onclick="selectStatusOption(this)">Safety and Security</div>
                    <div onclick="selectStatusOption(this)">Finance</div>
                    <div onclick="selectStatusOption(this)">Marketing</div>
                    <div onclick="selectStatusOption(this)">Customer Service</div>
                    <div onclick="selectStatusOption(this)">Logistics</div>
                    <div onclick="selectStatusOption(this)">Procurement</div>
                </div>
            </div>
        </div>
    </div>



    <script>
        function toggleStatusDropdown() {
            var dropdownContent = document.querySelector('.status-dropdown-content');
            var dropdownToggle = document.querySelector('.status-dropdown-toggle');
            var selector = document.querySelector('.status-selector');

            if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownToggle.classList.remove('open');

                selector.style.borderBottomLeftRadius = '10px';
                selector.style.borderBottomRightRadius = '10px';
                selector.style.borderBottom = '1px solid #6D6D6D';
            } else {
                dropdownContent.style.display = 'block';
                dropdownToggle.classList.add('open');

                selector.style.borderBottomLeftRadius = '0';
                selector.style.borderBottomRightRadius = '0';
                selector.style.borderBottom = 'none';
                document.getElementById('status-search-input').value = '';
                showAllStatusOptions();
            }
        }

        function filterStatusOptions() {
            var input, filter, div, i, txtValue;
            input = document.getElementById('status-search-input');
            filter = input.value.toUpperCase();
            div = document.querySelectorAll('.status-dropdown-list div');
            for (i = 0; i < div.length; i++) {
                txtValue = div[i].textContent || div[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    div[i].style.display = "";
                } else {
                    div[i].style.display = "none";
                }
            }
        }

        function selectStatusOption(element) {
            var selectedStatus = element.textContent || element.innerText;
            document.getElementById('selected-status').textContent = selectedStatus;
            document.querySelector('.status-dropdown-content').style.display = 'none';
            document.querySelector('.status-dropdown-toggle').classList.remove('open');

            var selector = document.querySelector('.status-selector');
            selector.style.borderBottomLeftRadius = '10px';
            selector.style.borderBottomRightRadius = '10px';
            selector.style.borderBottom = '1px solid #6D6D6D';

            var divs = document.querySelectorAll('.status-dropdown-list div');
            divs.forEach(function (div) {
                div.classList.remove('active');
            });
            element.classList.add('active');
        }

        function showAllStatusOptions() {
            var divs = document.querySelectorAll('.status-dropdown-list div');
            divs.forEach(function (div) {
                div.style.display = "";
            });
        }

        document.getElementById('status-search-input').addEventListener('blur', function () {
            const selector = document.querySelector('.status-selector');

            selector.style.borderBottomLeftRadius = '10px';
            selector.style.borderBottomRightRadius = '10px';

            selector.style.border = '1px solid #6D6D6D';
        });

        window.onclick = function (event) {
            const dropdownContent = document.querySelector('.status-dropdown-content');
            const selector = document.querySelector('.status-selector');

            if (!event.target.matches('.status-dropdown-toggle') && !event.target.matches('.status-dropdown-toggle *') && !event.target.matches('#status-search-input')) {

                if (dropdownContent.style.display === 'block') {
                    dropdownContent.style.display = 'none';
                    document.getElementById('status-search-input').value = '';
                    filterStatusOptions();
                    document.querySelector('.status-dropdown-toggle').classList.remove('open');

                    selector.style.borderBottomLeftRadius = '10px';
                    selector.style.borderBottomRightRadius = '10px';
                    selector.style.borderBottom = '1px solid #6D6D6D';
                }
            }
        };
    </script>
</body>

</html>