<html>
<head>
    <link rel="stylesheet" href=~/css/AdminDepartments.css />
@*     <link rel="stylesheet" href=~/css/AdminSystems.css /> *@
    <link rel="stylesheet" href=~/css/AdminDepartmentPopup.css />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="admin-main-content">
        <div class="header-container">
            <h2 class="systems-header">
                Select a Department to Manage
            </h2>
            <button class="add-department-button add-dep-button">
                <img src="~/Assets/add-icon.svg" alt="Add Icon" class="button-icon add-dep-popup" />
                Add New Department
            </button>
          
        </div>



        <div class="sidebar-container">

            <div class="sidebar2" id="sidebar2">
                <div class="search-container">
                    <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                    <input id="departmentSearch" onkeyup="filterDeparments()" placeholder="Search Department" type="text" />
                </div>
                <div class="scrollable-content">
                    <ul id="departmentList">
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Flight Planning
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">                               
                                Engineering & Maintenance
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">            
                                Information Technology
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Ground Handling
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Flight Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cabin Crew
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cargo Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Customer Service
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cargo Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cabin Crew
                           </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Flight Planning
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Aircraft Monitoring
                            </a>
                        </li>





                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                AeroProcure
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Engineering & Maintenance
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Information Technology
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Ground Handling
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Flight Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cabin Crew
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cargo Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Customer Service
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cargo Operations
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Cabin Crew
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Flight Planning
                            </a>
                        </li>
                        <li onclick="highlightDepartment(this)">
                            <a href="#">
                                Aircraft Monitoring
                            </a>
                        </li>




                    </ul>
                </div>
            </div>

            <div class="department-image-container">
                <img src="~/Assets/departments-background-icon.svg" alt="Departments Background Image" />
            </div>


            <div class="department-container" style="display: none;">
                <div class="header-department-container">
                    <div class="first-container">
                        <h2>Edit or Delete Department</h2>
                    </div>
                </div>


                <p class="department-name" id="selected-dep-name">Department name</p>





                <div class="form-group">
                    <label class="label" for="department-name">Department Name</label>
                    <input class="depname-input" type="text" id="department-name" value="Cargo Operations" style="border-radius:10px; font-size:16px;">
                </div>
                <div class="form-group second-input">
                    <label class="label" for="division">Division</label>
                    <div class="dropdown">
                        <div class="dropdown-toggle division-selector " onclick="toggleDropdown()">
                            <span id="selected-division">Information Technology</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="dropdown-content">
                            <div class="search-container second-search">
                                <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                <input type="text" id="search-division" placeholder="Search Division" onkeyup="filterDivisions()" onclick="event.stopPropagation()">
                            </div>
                            <div class="dropdown-list">
                                <div onclick="selectDivision(this)" class="selected">Information Technology</div>
                                <div onclick="selectDivision(this)">Human Resource</div>
                                <div onclick="selectDivision(this)">Flight Operations</div>
                                <div onclick="selectDivision(this)">Safety and Security</div>
                                <div onclick="selectDivision(this)">Finance</div>
                                <div onclick="selectDivision(this)">Marketing</div>
                                <div onclick="selectDivision(this)">Customer Service</div>
                                <div onclick="selectDivision(this)">Logistics</div>
                                <div onclick="selectDivision(this)">Procurement</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-container">
                    <button class="reset-changes">
                        Reset
                    </button>
                    <button class="edit-system-button">
                        Save Changes
                    </button>
                    <button class="delete-system-button delete-dep-button">
                        <img src="~/Assets/system-delete-icon.svg" alt="Add Icon" class="button-icon" />
                        Delete
                    </button>
                </div>

            </div>







        </div>
    </div>


    <!-- Overlay -->
    <div id="dark-overlay-dep1" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminAddDepartmentPopup")

    <div id="dark-overlay-dep2" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminDeleteDepartmentPopup")
    
    <div id="dark-overlay-dep3" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminDepartmentAdded")




    <script src="~/js/AdminDepartmentScripts.js"></script>
    <script src="~/js/searchableDropDown.js"></script>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar2');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</body>
</html>