<html>
<head>
    <link rel="stylesheet" href="~/css/AdminSystems.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="admin-main-content">
        <div class="header-container">
            <h2 class="systems-header" id="systems-header">
                Select a Division to Manage
            </h2>
            <button class="add-system-button add-dep-button">
                <img src="~/Assets/add-icon.svg" alt="Add Icon" class="button-icon" />
                Add New Division
            </button>
        </div>


        <div class="sidebar-container">

            <div class="sidebar2">
                <div class="search-container">
                    <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                    <input id="systemSearch" onkeyup="filterSystems()" placeholder="Search Department" type="text" />
                </div>
                <div class="scrollable-content scrollable-content-list">
                    <div id="systemListContainer">
                        <ul id="systemList">
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Aviation College
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Cargo
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Commercial Operations
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Corporate Communications
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Corporate Quality
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Corporate Safety
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Engineering
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Engineering
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Finance
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Flight Operations
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Group Assurance Advisory Services
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Human Resources
                                </a>
                            </li>





                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Information Technology
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Logistics & Administration
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Marketing
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Security Operations
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Service Delivery
                                </a>
                            </li>
                        </ul>

                        <div class="custom-form-group">
                            <h2 class="systems-header systems-header-label">
                                Select a Division to Manage
                            </h2>
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown(event)">
                                    <span id="selected-option" style="color:#333333;">Information Technology</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="custom-dropdown-content" style="position:sticky">
                                    <div class="custom-search-container">
                                        <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                        <input type="text" id="custom-search-input" placeholder="Search Option" onkeyup="filterCustomOptions()" onclick="event.stopPropagation()">
                                    </div>
                                    <div class="custom-dropdown-list">
                                        <div onclick="selectCustomOption(this)" class="active">Information Technology</div>
                                        <div onclick="selectCustomOption(this)">Human Resource</div>
                                        <div onclick="selectCustomOption(this)">Sales & Marketing</div>
                                        <div onclick="selectCustomOption(this)">Customer Service</div>
                                        <div onclick="selectCustomOption(this)">Cabin Crew</div>
                                        <div onclick="selectCustomOption(this)">Flight Operations</div>
                                        <div onclick="selectCustomOption(this)">Ground Handling</div>
                                        <div onclick="selectCustomOption(this)">Finance & Accounting</div>
                                        <div onclick="selectCustomOption(this)">Engineering & Maintenance</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="image-container">
                <img src="~/Assets/divisions-icon.svg" alt="Departments Background Image" />
            </div>


            <div class="system-container dep-second-container" style="display: none;">
                <div class="dep-inner-container">
                    <h2 class="edit-del-instruc">Edit or Delete Division</h2>
                    <h2 class="systems-name">System Name</h2>
                    <div class="form-group div-secondary-container">
                        <label class="label" for="department-name">Division Name</label>
                        <input class="depname-input" type="text" id="department-name" value="Cargo Operations" style="border-radius:10px; font-size:16px; border:1px solid #6D6D6D;">
                    </div>
                    
                    <div class="button-container">
                        <button class="reset-changes">
                            Reset
                        </button>
                        <button class="edit-system-button">
                            Save Changes
                        </button>
                        <button class="delete-system-button delete-dep-button">
                            <img src="~/Assets/system-delete-icon.svg" alt="Add Icon" class="button-icon" />
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Overlay -->
     <div id="dark-overlay-dep1" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDivisionPopups/_AdminAddDivisionPopup")

    <div id="dark-overlay-dep2" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDivisionPopups/_AdminDeleteDivisionPopup")

    <div id="dark-overlay-dep3" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDivisionPopups/_AdminDivisionAdded")

    <script src="~/js/AdminDivisionScripts.js"></script>

</body>
</html>