
<link href="~/Content/css/ProjectStyles/notiflix.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/ProjectStyles/JQuerryTable/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/Content/css/AdminDivision.css">
<link rel="stylesheet" href="~/Content/css/ProjectStyles/Bootstrap/bootstrap.min.css" />

<div class="admin-main-content" style="height:100%">

    <div class="header-container">

        <h2 class="systems-header" id="systems-header">
            Select a Division to Manage
        </h2>
        <button type="button" id="add_divisionBtn" class="btn-add" data-toggle="modal" data-target="#exampleModal">
            Add New Division
        </button>

    </div>


    <div class="sidebar-container">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="division-viewer" class="display" style="width:100%"></table>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->

<div class="modal fade" id="addDivisionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Division</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Enter division name to add this division</p>
                <div class="add-dep-form-popup">
                    <label for="new-department-name" style="display: inline-block;">Division Name</label>                  
                    <input type="text" class="form-control" id="add-department-name" placeholder="Enter New Division Name">
                </div>
            </div>

            <div class="modal-footer">

                <div class="modal-footer">                
                    <button type="button" id="btnSave" class="btn-save">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="editDivisionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Division</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">           
                <div class="add-dep-form-popup">
                    <label for="new-department-name" style="display: inline-block;">Division Name</label>                
                    <input type="text" class="form-control" id="edit-department-name" placeholder="Enter New Division Name">
                </div>
            </div>

            <div class="modal-footer">

                <div class="modal-footer">
                    <button type="button" id="btnUpdate" class="btn-save">Update</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/ProjectScripts/JQuerryTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/ProjectScripts/Bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/AdminDivisionScripts.js"></script>
<script src="~/Scripts/ProjectScripts/notiflix.js"></script>

