

<link href="~/Content/css/ProjectStyles/notiflix.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/ProjectStyles/JQuerryTable/jquery.dataTables.min.css">
<link href="~/Content/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/css/AdminOverview.css" />
<link rel="stylesheet" href="~/Content/css/ProjectStyles/Bootstrap/bootstrap.min.css" />

<div class="admin-main-content">
    <div class="Cards">
        <div class="Card">
            <img src="~/Content/Assets/overview-dep-card1.png" />
            <h1 class="card-header">Departments</h1>
            <h1 class="card-count" id="DepCount"></h1>
        </div>
        <div class="Card">
            <img src="~/Content/Assets/overview-sys-card1.png" />
            <h1 class="card-header">Systems</h1>
            <h1 class="card-count" id="SysCount"></h1>
        </div>
        <div class="Card">
            <img src="~/Content/Assets/overview-doc-card1.png" />
            <h1 class="card-header">Documents</h1>
            <h1 class="card-count" id="DocCount"></h1>
        </div>
        <div class="Card">
            <img src="~/Content/Assets/overview-vid-card1.png" />
            <h1 class="card-header">Videos</h1>
            <h1 class="card-count" id="VideoCount"></h1>
        </div>
    </div>
    <h1 class="ActivityO">Activity Overview</h1>

    <div class="charts-container">
        <div class="outerPieChartsContainer">
            <div class="header2 header-pie">
                <h2>Recent Activity</h2>

               
                <div class="dropdown">
                    <p class="dropdown-label" style="display:inline-block">Viewing Period:</p>
                    <div class="custom-form-group">
                        <select id="customDropdown" class="form-control custom-select">
                            <option value="all">All Time</option>
                            <option value="1">Last Month</option>
                            <option value="3">Last 3 Months</option>
                            <option value="6">Last 6 Months</option>
                            <option value="12">Last Year</option>
                        </select>

                    </div>
                </div>

            </div>
            <div class="contentInfo">
                <div class="pieChart">
                    <canvas id="myChart" class="myChart"></canvas>
                </div>
                <div class="legend">
                    <div class="legend-item">
                        <div class="legend-color" style="background-color: #CE1D1D;"></div>
                        <div class="legend-text">Systems Added</div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color" style="background-color: #C9AA22;"></div> 
                           <div class="legend-text">Videos Uploaded</div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color" style="background-color: #FF6333;"></div> 
                        <div class="legend-text">Documents Uploaded</div>
                     </div>
                    <div class="legend-item">
                        <div class="legend-color" style="background-color: #007D32;"></div>
                        <div class="legend-text">Departments Added</div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color" style="background-color: #36A2EB;"></div>
                        <div class="legend-text">Divisions Added</div>
                    </div>
                </div>
            </div>

            <div class="stats-container">
                <div class="stat-item">
                    <p class="stat-number" id="DoC"></p>
                    <p class="stat-label">Docs</p>
                </div>
                <div class="separator"></div>
                <div class="stat-item">
                    <p class="stat-number" id="VC"></p>
                    <p class="stat-label">Videos</p>
                </div>
                <div class="separator"></div>
                <div class="stat-item">
                    <p class="stat-number" id="SC"></p>
                    <p class="stat-label">Systems</p>
                </div>
                <div class="separator"></div>
                <div class="stat-item">
                    <p class="stat-number" id="DeC"></p>
                    <p class="stat-label">Depts.</p>
                </div>
                <div class="separator"></div>
                <div class="stat-item">
                    <p class="stat-number" id="DiC"></p>
                    <p class="stat-label">Divisions</p>
                </div>
            </div>


           

        </div>
        <div class="outerBarChartsContainer">
            @{
                var currentDate = DateTime.Now;

                var firstDayOfCurrentMonth = new DateTime(currentDate.Year, currentDate.Month, 1);

                var firstDayOfNextMonth = firstDayOfCurrentMonth.AddMonths(1);

                var formattedCurrentMonth = firstDayOfCurrentMonth.ToString("MMM d");
                var formattedNextMonth = firstDayOfNextMonth.ToString("MMM d");
            }

            <div class="header2 barchart-header">
                <h2>Logged In Staff</h2>
                <p>@formattedCurrentMonth - @formattedNextMonth</p>
            </div>
           @*  <div class="contentInfo barchart-contentInfo">
                <div class="BarChart">
                    <canvas id="myChart2" class="myChart2" style="box-sizing: border-box;"></canvas>
                </div>
            </div> *@
        </div>-->
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/ProjectScripts/JQuerryTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/ProjectScripts/Bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/AdminOverview.js"></script>
<script src="~/Scripts/ProjectScripts/notiflix.js"></script>
<script src="~/Scripts/chart.min.js"></script>

