<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/Content/css/AdminOverview.css" />

    <div class="admin-main-content">
        <div class="Cards">
            <div class="Card">
                <img src="/Content/Assets/overview-dep-card1.png" />
                <h1 class="card-header">Departments</h1>
                <h1 class="card-count">105</h1>
            </div>
            <div class="Card">
                <img src="/Content/Assets/overview-sys-card1.png" />
                <h1 class="card-header">Systems</h1>
                <h1 class="card-count">140</h1>
            </div>
            <div class="Card">
                <img src="/Content/Assets/overview-doc-card1.png" />
                <h1 class="card-header">Documents</h1>
                <h1 class="card-count">750</h1>
            </div>
            <div class="Card">
                <img src="/Content/Assets/overview-vid-card1.png" />
                <h1 class="card-header">Videos</h1>
                <h1 class="card-count">750</h1>
            </div> 
        </div>
        <h1 class="ActivityO">Activity Overview</h1>

        <div class="charts-container">
            <div class="outerPieChartsContainer">
                <div class="header2 header-pie">
                    <h2>Recent Activity</h2>
                   
                    <div class="dropdown">
                        <p class="dropdown-label" style="display:inline-block">Viewing Period:</p>
                        <div class="custom-form-group">
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown()">
                                    <span id="selected-option">All Time</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="custom-dropdown-content">                                  
                                    <div class="custom-dropdown-list">
                                        <div onclick="selectCustomOption(this)" class="active">All Time</div>
                                        <div onclick="selectCustomOption(this)">Last Month</div>
                                        <div onclick="selectCustomOption(this)">Last 3 Months</div>
                                        <div onclick="selectCustomOption(this)">Last 6 Months</div>
                                        <div onclick="selectCustomOption(this)">Last Year</div>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentInfo">
                    <div class="pieChart">
                        <canvas id="myChart" class="myChart" ></canvas>
                    </div>
                    <div class="legend">
                        <div class="legend-item">
                            <div class="legend-color" style="background-color: #CE1D1D;"></div>
                            <div class="legend-text">Systems Added</div>
                        </div>
                        <div class="legend-item">
                            <div class="legend-color" style="background-color: #C9AA22;"></div>
                            <div class="legend-text">Videos Uploaded</div>
                        </div>
                        <div class="legend-item">
                            <div class="legend-color" style="background-color: #FF6333;"></div>
                            <div class="legend-text">Documents Uploaded</div>
                        </div>
                        <div class="legend-item">
                            <div class="legend-color" style="background-color: #2E8D58;"></div>
                            <div class="legend-text">Departments Added</div>
                        </div>
                        <div class="legend-item">
                            <div class="legend-color" style="background-color: #36A2EB;"></div>
                            <div class="legend-text">Divisions Added</div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <div class="stat-item">
                        <p class="stat-number">253</p>
                        <p class="stat-label">Docs</p>
                    </div>
                    <div class="separator"></div>
                    <div class="stat-item">
                        <p class="stat-number">142</p>
                        <p class="stat-label">Videos</p>
                    </div>
                    <div class="separator"></div>
                    <div class="stat-item">
                        <p class="stat-number">56</p>
                        <p class="stat-label">Systems</p>
                    </div>
                    <div class="separator"></div>
                    <div class="stat-item">
                        <p class="stat-number">0</p>
                        <p class="stat-label">Depts.</p>
                    </div>
                    <div class="separator"></div>
                    <div class="stat-item">
                        <p class="stat-number">0</p>
                        <p class="stat-label">Divisions</p>
                    </div>
                </div>
            </div>
            <div class="outerBarChartsContainer">
                <div class="header2 barchart-header">
                    <h2>Logged In Staff</h2>
                    <p>Sep 1  - Oct 1 </p>
                </div>
                <div class="contentInfo barchart-contentInfo">
                    <div class="BarChart">
                        <canvas id="myChart2" class="myChart2" style="box-sizing: border-box;"></canvas>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/Scripts/AdminOverview.js"></script>