@* @{
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}  *@


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0; /* Removes default body margin */
            padding: 0; /* Removes default body padding */
        }
        .reviewcontainer {
            display: flex;
            height: 79vh;
            width: 100%; /* Ensure it spans full width */
        }
        .reviewsidebar-reviewcontainer {
            display: flex;
            flex-direction: column;
            width: 300px;
            background-color: #fff;
            position: relative;
        }
        .reviewsidebar {
            flex-grow: 1;
            padding: 20px;
            overflow-y: auto;
        }

        .reviewcontent {
            flex-grow: 1; /* Allow it to grow and fill available space */
            background-color: #fff; /* Ensure a consistent background */
            display: flex;
            flex-direction: column; /* Use column direction */
            justify-content: flex-start; /* Align items to start */
            padding: 20px; /* Add some padding */
        }
        .ReviewReviewTabs {
            display: flex;
            border-bottom: 1px solid #ddd;
            background-color: #e9f1fb;
        }
        .reviewtab {
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid #ddd;
            border-bottom: none;
            background-color: #f5f5f5;
        }
        .reviewtab.active {
            background-color: #fff;
            border-top: 3px solid #007bff;
            border-bottom: 1px solid #fff;
        }
        .search-box {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .search-box input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .department-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .department-list li {
            padding: 20px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
        }
        .department-list li.active {
            background-color: #A4D2F9;
            font-weight:bold;
        }
        .reviewtitle {
            font-size: 18px;
            font-weight: bold;
            margin: 20px;
            white-space: nowrap; /* Ensure the text stays on one line */
            z-index: 1; /* Ensure the reviewtitle is in front */
            background-color: #fff; /* Match the background color to avoid overlap */
        }

        .reviewtitle2 {
            margin-top:1.2%;
            font-size: 18px;
            font-weight: bold;
            white-space: nowrap; /* Ensure the text stays on one line */
            z-index: 1; /* Ensure the reviewtitle is in front */
            background-color: #fff; /* Match the background color to avoid overlap */
        }
        .reviewdropdown {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: #fff;
            border: 1px solid #ddd;
            width: 100%;
            z-index: 1;
        }
        .reviewdropdown li {
            font-weight:normal;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .reviewdropdown li:hover, .reviewdropdown li.active {
            background-color: #DEF1FF;
        }
        .icon {
            margin-right: 10px;
            transition: transform 0.3s ease;
        }
        .icon.rotate {
            transform: rotate(90deg);
        }
        /* Custom scrollbar styles */
        .reviewsidebar::-webkit-scrollbar {
            width: 8px;
        }
        .reviewsidebar::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .reviewsidebar::-webkit-scrollbar-thumb {
            background-color: #007bff;
            border-radius: 10px;
            border: 2px solid #f1f1f1;
        }

        .staffView-container {
            width:100%;
            background-color: #F3F3F3;
            padding-top: 8%;
            text-align: center;
        }
        .staffView-container img {
            width:50%;
            margin-left:50%;
            margin-top:9%;
        }

        .staffView-title {
            font-size: 24px;
            color: #333;
        }

        .staffView-search-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

            .staffView-search-box input[type="text"] {
                width: 300px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px 0 0 5px;
                font-size: 16px;
            }

            .staffView-search-box button {
                padding: 10px 20px;
                border: none;
                background-color: #005580;
                color: white;
                font-size: 16px;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
            }

                .staffView-search-box button:hover {
                    background-color: #004466;
                }

        .search-container {
            margin-left:5%;
            transform:scale(0.9);
            display: flex;
            align-items: center;
        }

            .search-container input[type="text"] {
                width: 300px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #ccc;
                font-size: 16px;
                outline: none;
            }

                .search-container input[type="text"]::placeholder {
                    color: #aaa;
                }

            .search-container button {
                padding: 10px 20px;
                background-color: #004a6e;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                margin-left: 10px;
            }

                .search-container button:hover {
                    background-color: #003a56;
                }

        .staffViewDropdown-status-container {
            margin-left:10%;
            width:100%;
            margin-top:-1%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .staffViewDropdown-status-label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333333;
        }

        .staffViewDropdown-status-select {
            width:75%;
            font-size: 14px;
            padding: 5px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            color: #333333;
        }

        .staffViewSidebar {
            width:30%;
            height: 100%; /* Ensure sidebar takes full height */
            padding: 20px;
            overflow-y: auto; /* Allow scrolling within the sidebar */
        }

            .staffViewSidebar::-webkit-scrollbar {
            width: 8px;
        }

            .staffViewSidebar::-webkit-scrollbar-track {
            background: #fff;
        }

            .staffViewSidebar::-webkit-scrollbar-thumb {
            background-color: #007bff;
            border-radius: 10px;
            border: 2px solid #f1f1f1;
        }
        .search-box-staff {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

            .search-box-staff input {
                width: 100%;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #ccc;
                font-size: 14px;
                color: #aaa;
            }

            .search-box-staff i {
                margin-right: 10px;
                color: #aaa;
            }

        .menu-item {
            border-bottom: 1px solid #000;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-top:20px;
            padding-bottom:20px;
            font-size: 16px;
            color: #000;
        }

            .menu-item i {
                margin-right: 10px;
            }

            .menu-item.active {
                background-color: #A4D2F9;
                font-weight: bold;
            }

        .staffViewContent {
            height:100%;
            width:100%;
        }

            .staffViewContent img {
                transform:scale(0.65);
                margin-left:20%;
            }

        .staffcontentLayout {
            display: flex; /* Use flexbox to arrange sidebar and content */
            height: 500%; /* Ensure it takes full height of the parent */
            overflow: hidden; /* Prevent overflow */
        }

        .staff-card {
            margin-left:3%;
            margin-top:3%;
            background: linear-gradient(89deg, #FFF 0.61%, #F4F0F0 99.91%);
            border-radius: 10px;
            width: 90%;
            padding: 20px 20px 0px 20px;
            display: flex;
            flex-direction: column;
        }

        .staff-card-header {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            margin-bottom: 10px;
            justify-content: space-between;
            cursor: pointer;
        }

        .staff-card-header-left {
            display: flex;
            align-items: center;
        }

            .staff-card-header-left i {
                font-size: 24px;
                margin-right: 10px;
            }

            .staff-card-header-left .name {
                font-size: 18px;
                font-weight: bold;
            }

            .staff-card-header-left .id {
                font-size: 14px;
                color: #666;
                margin-left: 5px;
            }

        .staff-card-header-right {
            display: flex;
            align-items: center;
        }

            .staff-card-header-right i {
                font-size: 16px;
                color: #666;
            }

        .staff-card-body {
            display: flex;
            justify-content: space-between;
            transition: max-height 0.3s ease, border-top 0.3s ease, padding 0.3s ease;
            overflow: hidden;
            max-height: 0;
            border-top: 2px solid #ddd; /* Increased border size */
            padding: 0 20px; /* Initial padding */
        }

            .staff-card-body .left,
            .staff-card-body .right {
                display: flex;
                flex-direction: column;
            }

                .staff-card-body .left i,
                .staff-card-body .right i {
                    margin-right: 10px;
                }

                .staff-card-body .left .item,
                .staff-card-body .right .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }

                    .staff-card-body .right .item:last-child {
                        margin-bottom: 0;
                    }

        .staff-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .staff-search-container {
            display: flex;
            align-items: center;
        }

            .staff-search-container input {
                padding: 5px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-left: 5px;
            }

        .table-container {
            max-height:350px;
            overflow-y: auto; /* Enable vertical scrolling */
            margin-top: 10px;
            border: 1px solid #ddd; /* Optional: Add a border for better visibility */
            border-radius: 4px; /* Optional: Add rounded corners */
            background-color: #fff; /* Optional: Set a background color */
        }

            .table-container::-webkit-scrollbar {
            width: 8px;
        }

            .table-container::-webkit-scrollbar-track {
            background: #fff;
        }

            .table-container::-webkit-scrollbar-thumb {
            background-color: #007bff;
            border-radius: 10px;
            border: 2px solid #f1f1f1;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .status-pending {
            color: red;
        }

        .status-read {
            color: green;
        }

        .icon {
            margin-right: 5px;
        }

        .tableChanger {
            position:relative;
            padding:20px;
        }
  </style>
  <script src="~/js/adminReview.js" defer></script>


  <div class="ReviewReviewTabs">
   <div class="reviewtab active" id="system-reviewtab" onclick="showSystemView()">
    System View
   </div>
   <div class="reviewtab" id="staff-reviewtab" onclick="showStaffView()">
    Staff View
   </div>
  </div>
  <div class="reviewcontainer" id="system-view">
   <div class="reviewsidebar-reviewcontainer">
    <div class="reviewtitle">
     Select a Department to Review System Activity
    </div>
    <div class="reviewsidebar">
     <div class="search-box">
      <input id="searchInput" onkeyup="filterDepartments()" placeholder="Search Department" type="text"/>
     </div>
     <ul class="department-list" id="departmentList">
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Human Resources
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('../admin/humanr', this.parentElement.parentElement, this)">
         System 1
        </li>
        <li onclick="loadReviewContent('human_resources_system2.html', this.parentElement.parentElement, this)">
         System 2
        </li>
        <li onclick="loadReviewContent('human_resources_system3.html', this.parentElement.parentElement, this)">
         System 3
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Engineering &amp; Maintenance
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('engineering_systemA.html', this.parentElement.parentElement, this)">
         System A
        </li>
        <li onclick="loadReviewContent('engineering_systemB.html', this.parentElement.parentElement, this)">
         System B
        </li>
        <li onclick="loadReviewContent('engineering_systemC.html', this.parentElement.parentElement, this)">
         System C
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Information Technology
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('it_systemX.html', this.parentElement.parentElement, this)">
         System X
        </li>
        <li onclick="loadReviewContent('it_systemY.html', this.parentElement.parentElement, this)">
         System Y
        </li>
        <li onclick="loadReviewContent('it_systemZ.html', this.parentElement.parentElement, this)">
         System Z
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Ground Handling
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('ground_handling_systemAlpha.html', this.parentElement.parentElement, this)">
         System Alpha
        </li>
        <li onclick="loadReviewContent('ground_handling_systemBeta.html', this.parentElement.parentElement, this)">
         System Beta
        </li>
        <li onclick="loadReviewContent('ground_handling_systemGamma.html', this.parentElement.parentElement, this)">
         System Gamma
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Flight Operations
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('flight_operations_system1.html', this.parentElement.parentElement, this)">
         System 1
        </li>
        <li onclick="loadReviewContent('flight_operations_system2.html', this.parentElement.parentElement, this)">
         System 2
        </li>
        <li onclick="loadReviewContent('flight_operations_system3.html', this.parentElement.parentElement, this)">
         System 3
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Cabin Crew
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('cabin_crew_systemA.html', this.parentElement.parentElement, this)">
         System A
        </li>
        <li onclick="loadReviewContent('cabin_crew_systemB.html', this.parentElement.parentElement, this)">
         System B
        </li>
        <li onclick="loadReviewContent('cabin_crew_systemC.html', this.parentElement.parentElement, this)">
         System C
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Cargo Operations
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('cargo_operations_systemX.html', this.parentElement.parentElement, this)">
         System X
        </li>
        <li onclick="loadReviewContent('cargo_operations_systemY.html', this.parentElement.parentElement, this)">
         System Y
        </li>
        <li onclick="loadReviewContent('cargo_operations_systemZ.html', this.parentElement.parentElement, this)">
         System Z
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Customer Service
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('customer_service_systemAlpha.html', this.parentElement.parentElement, this)">
         System Alpha
        </li>
        <li onclick="loadReviewContent('customer_service_systemBeta.html', this.parentElement.parentElement, this)">
         System Beta
        </li>
        <li onclick="loadReviewContent('customer_service_systemGamma.html', this.parentElement.parentElement, this)">
         System Gamma
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Sales &amp; Marketing
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('sales_marketing_system1.html', this.parentElement.parentElement, this)">
         System 1
        </li>
        <li onclick="loadReviewContent('sales_marketing_system2.html', this.parentElement.parentElement, this)">
         System 2
        </li>
        <li onclick="loadReviewContent('sales_marketing_system3.html', this.parentElement.parentElement, this)">
         System 3
        </li>
       </ul>
      </li>
      <li onclick="toggleReviewDropdown(event)">
       <i class="fas fa-chevron-right icon"></i> Finance &amp; Accounting
       <ul class="reviewdropdown">
        <li onclick="loadReviewContent('finance_accounting_systemA.html', this.parentElement.parentElement, this)">
         System A
        </li>
        <li onclick="loadReviewContent('finance_accounting_systemB.html', this.parentElement.parentElement, this)">
         System B
        </li>
        <li onclick="loadReviewContent('finance_accounting_systemC.html', this.parentElement.parentElement, this)">
         System C
        </li>
       </ul>
      </li>
     </ul>
    </div>
   </div>
   <div class="reviewcontent" id="system-view-reviewcontent">
    <h1>xD</h1>
   </div>
  </div>
  <div class="reviewcontainer" id="staff-view" style="display: none;">
   <div class="reviewcontent">
        <div id="staff-view-reviewcontent">
         <!-- Replace this with your desired reviewcontent for Staff View -->
                    <div class="staffView-container">
                        <h1 class="staffView-title">Enter Name/ Staff ID to Review Individual Activity</h1>
                        <div class="staffView-search-box">
                            <input type="text" id="staffViewSearchInput" placeholder="Search by Name or Staff ID">
                            <button onclick="staffViewPerformSearch()">Search</button>
                        </div>
                        <img src="~/Assets/StaffViewBottom.png" />
                    </div>
        </div>

            <div class="staffAfterSearch" id="staffAfterSearch" style="display:none;">
                <div class="reviewtitle2">
                    Select a system to Review Individual Activity
                </div>
                <div class="search-container">
                    <input type="text" placeholder="IN1957">
                    <button>Search</button>
                </div>
                <div class="staffViewDropdown-status-container">
                    <label for="staffViewDropdown-status" class="staffViewDropdown-status-label">Status</label>
                    <select id="staffViewDropdown-status" class="staffViewDropdown-status-select">
                        <option value="all">All</option>
                        <option value="pending">Pending</option>
                        <option value="read">Read</option>
                    </select>
                </div>

        </div>
            <div class="staffcontentLayout" id="staffcontentLayout" style="display:none;">
                <div class="staffViewSidebar">
                    <div class="search-box-staff">
                        <i class="fas fa-search"></i>
                        <input type="text" id="searchInputStaff" onkeyup="filterStaffViewSidebar()" placeholder="Search System">
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>AeroProcure</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Flight Tracking</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Flight Dispatch</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Operational Control</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Crew Scheduling</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Maintenance Tracking</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Flight Planning</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Aircraft Monitoring</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Flight Dispatch</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Weather Monitoring</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Passenger Services</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Cargo Management</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Security Control</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Ground Handling</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Fuel Management</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Flight Safety</span>
                    </div>
                    <div class="menu-item" onclick="staffViewActive(event)">
                        <i class="fas fa-folder"></i>
                        <span>Emergency Response</span>
                    </div>

                </div>
                <div class="staffViewContent">
                    <div class="staff-card">
                        <div class="staff-card-header" onclick="staffViewDropdown()">
                            <div class="staff-card-header-left">
                                <i class="fas fa-user-circle"></i>
                                <div class="name">Pramodh Lihinikaduwa</div>
                                <div class="id">- IN1957</div>
                            </div>
                            <div class="staff-card-header-right">
                                <i class="fas fa-chevron-down" id="staff-dropdown-icon"></i>
                            </div>
                        </div>
                        <div class="staff-card-body" id="staff-card-body">
                            <div class="left">
                                <div class="item">
                                    <i class="fas fa-building"></i>
                                    <div>Information Technology Department</div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-briefcase"></i>
                                    <div>On the Job Trainee</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="item">
                                    <i class="fas fa-envelope"></i>
                                    <div>bhanuka.lihinikaduwa@srilanakan.com</div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-phone"></i>
                                    <div>+94743 23 1979</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tableChanger" style="display:none;">
                        <div class="staff-header">
                            <h1>Flight Planning</h1>
                            <div class="staff-search-container">
                                <i class="fas fa-search"></i>
                                <input type="text" id="staffSearchInput" onkeyup="filterStaffViewTable()" placeholder="Search">
                            </div>
                        </div>
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Category</th>
                                        <th>Viewed date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="fas fa-file-alt icon"></i>Operational Control System Overview</td>
                                        <td>Technical</td>
                                        <td>-</td>
                                        <td class="status-pending">Pending</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-play-circle icon"></i>Flight Schedule Optimization Techniques</td>
                                        <td>Training</td>
                                        <td>Mar 20,2024</td>
                                        <td class="status-read">Read</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-play-circle icon"></i>Best Practices for Operational Control</td>
                                        <td>Technical</td>
                                        <td>-</td>
                                        <td class="status-pending">Pending</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-file-alt icon"></i>Real-time Flight Operations Monitoring</td>
                                        <td>Training</td>
                                        <td>Feb 05,2024</td>
                                        <td class="status-read">Read</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-file-alt icon"></i>System Integration with Flight Management</td>
                                        <td>Technical</td>
                                        <td>-</td>
                                        <td class="status-pending">Pending</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-play-circle icon"></i>Webinar: Enhancing Efficiency</td>
                                        <td>Training</td>
                                        <td>Mar 18,2024</td>
                                        <td class="status-read">Read</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-file-alt icon"></i>Real-time Flight Operations Monitoring</td>
                                        <td>Technical</td>
                                        <td>-</td>
                                        <td class="status-pending">Pending</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-play-circle icon"></i>Flight Schedule Optimization Techniques</td>
                                        <td>Training</td>
                                        <td>Mar 20,2024</td>
                                        <td class="status-read">Read</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <img src="~/Assets/PCpic.svg" style="position:relative;" />
                </div>
            </div>
   </div>
  </div>
