@model AeroVault.Models.DepartmentViewModel

<link href="/Content/css/all.min.css" rel="stylesheet">
<link href="/Content/css/AdminReview.css" rel="stylesheet" />
<script src="/Scripts/adminReview.js" defer></script>

<div class="ReviewReviewTabs">
    <div class="reviewtab active" id="system-reviewtab" onclick="showSystemView()">
        System View
    </div>
    <div class="reviewtab" id="staff-reviewtab" onclick="showStaffView()">
        Staff View
    </div>
</div>
<div class="reviewcontainer" id="system-view">
    <div class="reviewsidebar-reviewcontainer">
        <div class="reviewtitle">
            Select a Department to Review System Activity
        </div>
        <div class="sidebar-line">
            <div class="status-form-group">
                <div class="status-dropdown">
                    <div class="status-dropdown-toggle status-selector" onclick="toggleStatusDropdown()">
                        <span id="selected-status">Select a Department</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="status-dropdown-content">
                        <div class="status-search-container">
                            <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                            <input type="text" id="status-search-input" placeholder="Search Department"
                                   onkeyup="filterStatusOptions()" onclick="event.stopPropagation()">
                        </div>
                        <div class="status-dropdown-list">
                            @if (Model?.Departments != null)
                            {
                                @foreach (var department in Model.Departments)
                                {
                                    <div class="dropdown-item" onclick="selectStatusOption(this)" data-department-id="@department.DepartmentID">
                                        @department.DepartmentName
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="dropdown-item no-departments">No departments found</div>
                            }
                        </div>
                    </div>
                    <div class="file-search-container1" style="margin-bottom:0px;">
                        <img src="/Content/Assets/search-icon.svg" class="search-icon1" alt="Search Icon" />
                        <input id="searchInputStaff" onkeyup="filterStaffViewSidebar()" placeholder="Search System" type="text"
                               class="file-search-input1" style="width:200px;" />
                    </div>
                </div>
            </div>

            <div class="staffViewSidebar"></div>
        </div>
    </div>
    <div class="reviewcontent" id="system-view-reviewcontent">
        <div class="image-container">
            <img src="/Content/Assets/system-background-icon.svg" alt="System Background Image" />
        </div>

        <div id="system-review-table" style="display:none;">
            <div class="header-container-unique">
                <div class="header-unique" id="system-header">
                    System Name
                </div>
                <div class="file-search-container2" style="margin-bottom:0px;">
                    <img src="/Content/Assets/search-icon.svg" class="search-icon2" alt="Search Icon" />
                    <input id="SystemfileSearch" onkeyup="filterFiles()" placeholder="Search" type="text"
                           class="file-search-input2" style="width:200px;" />
                </div>

            </div>
            <div class="table-container-unique">
                <div class="scrollable-tbody">
                    <table id="fileTableUnique">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Category</th>
                                <th>Read by</th>
                                <th>Pending by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document2.pdf </td>
                                <td>Invoices</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/Content/Assets/system-file-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" /> Document1.pdf </td>
                                <td>Reports</td>
                                <td class="read-by-unique">
                                    <i class="fas fa-eye"></i>154 <span class="clickable-icon-unique"
                                                                        onclick="openReadModalUnique()"></span>
                                </td>
                                <td class="pending-by-unique">
                                    <i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="readModalUnique" class="modal-unique" style="display:none;">
                <div class="readUsers-container">
                    <div class="readUsers-header">
                        <h1 id="readModal-header">Department / System Name</h1>
                        <span class="close-unique" onclick="closeReadModalUnique()">&times;</span>
                    </div>
                    <div class="readUsers-title">
                        <h2 id="readModal-title">Read Users - Document.pdf</h2>
                    </div>
                    <div class="readUsers-search-bar">
                        <input type="text" id="readUsers-searchInput" onkeyup="searchTable()"
                               placeholder="Search by Staff ID">
                    </div>
                    <div class="readUsers-table-container">
                        <table id="readUsers-dataTable">
                            <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Staff ID</th>
                                    <th onclick="sortTable(1)">Staff Name</th>
                                    <th onclick="sortTable(2)">Viewed Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IN1957</td>
                                    <td>Pramodh Lihinikaduwa</td>
                                    <td>Jan 04,2023</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="pendingModalUnique" class="modal-unique" style="display:none;">
                <div class="pendingUsers-container">
                    <div class="pendingUsers-header">
                        <h1 id="pendingModal-header">Department / System Name</h1>
                        <span class="close-unique" onclick="closePendingModalUnique()">&times;</span>
                    </div>
                    <div class="pendingUsers-title" id="pendingModal-title">
                        Pending Users - Document.pdf
                    </div>
                    <div class="pendingUsers-searchBar">
                        <input type="text" id="pendingUsersSearchInput" onkeyup="pendingUsersSearchTable()"
                               placeholder="Search by Staff ID or Name">
                    </div>
                    <div class="pendingUsers-tableContainer">
                        <table id="pendingUsersTable">
                            <thead>
                                <tr>
                                    <th onclick="pendingUsersSortTable(0)">Staff ID</th>
                                    <th onclick="pendingUsersSortTable(1)">Staff Name</th>
                                    <th onclick="pendingUsersSortTable(2)">Pending Since</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IN1958</td>
                                    <td>John Doe</td>
                                    <td>Jan 05, 2023</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reviewcontainer" id="staff-view" style="display: none;">
    <div class="reviewcontent">
        <div id="staff-view-reviewcontent">
            <div class="staffView-container">
                <h2 class="staffView-title">Enter Name/ Staff ID to Review Individual Activity</h2>
                <div class="staffView-search-box">
                    <input type="text" id="staffViewSearchInput" placeholder="Search by Name or Staff ID">
                    <button onclick="staffViewPerformSearch()">Search</button>
                </div>
                <img src="/Content/Assets/StaffViewBottom.png" />
            </div>
        </div>

        <div class="staffAfterSearch" id="staffAfterSearch" style="display:none;">
            <div class="reviewtitle2">
                Select a system to Review Individual Activity
            </div>
            <div class="container-for-search">
                <div class="file-search-container1">
                    <img src="/Content/Assets/search-icon.svg" class="search-icon1" alt="Search Icon" />
                    <input id="searchInputStaff" onkeyup="filterStaffViewSidebar()" placeholder="Search by Name or Staff ID" type="text"
                           class="file-search-input1" style="width:200px;" />
                </div>
                <button class="search-btn">Search</button>
            </div>
            <div class="staffViewDropdown-status-container">
                <label for="staffViewDropdown-status" class="staffViewDropdown-status-label">Status</label>
                <select id="staffViewDropdown-status" class="staffViewDropdown-status-select">
                    <option value="all">All</option>
                    <option value="pending">Pending</option>
                    <option value="read">Read</option>
                </select>
            </div>
        </div>
        <div class="staffcontentLayout" id="staffcontentLayout" style="display:none;">
            <div class="search-and-sidebar-container">
                <div class="file-search-container1" style="margin-bottom:20px;">
                    <img src="/Content/Assets/search-icon.svg" class="search-icon1" alt="Search Icon" />
                    <input id="searchInputStaff" onkeyup="filterStaffViewSidebar()" placeholder="Search System" type="text"
                           class="file-search-input1" style="width:200px;" />
                </div>
                <div class="staffViewSidebar2">
                </div>
                </div>
            <div class="staffViewContent">
                <div class="staff-card">
                    <div class="staff-card-header" onclick="staffViewDropdown()">
                        <div class="staff-card-header-left">
                            <i class="fas fa-user-circle"></i>
                            <div class="name"></div>
                            <div class="id"></div>
                        </div>
                        <div class="staff-card-header-right">
                            <i class="fas fa-chevron-down" id="staff-dropdown-icon"></i>
                        </div>
                    </div>
                    <div class="staff-card-body" id="staff-card-body">
                        <div class="left">
                            <div class="item">
                                <i class="fas fa-building"></i>
                                <div></div>
                            </div>
                            <div class="item">
                                <i class="fas fa-briefcase"></i>
                                <div></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="item">
                                <i class="fas fa-envelope"></i>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableChanger" style="display:none;">
                    <div class="staff-header">
                        <h2 class="system-name">Flight Planning</h2>
                        <div class="staff-search-container">
                            <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                            <input type="text" id="staffSearchInput" onkeyup="filterStaffViewTable()"
                                   placeholder="Search">
                        </div>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Category</th>
                                    <th>Viewed date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <img src="/Content/Assets/PCpic.svg" class="staff-view-image" style="display: none; transform: scale(0.6);" />
            </div>
        </div>
    </div>
</div>
