

<link href="~/Content/css/ProjectStyles/notiflix.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/ProjectStyles/JQuerryTable/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/css/AdminDivision.css" />
<link rel="stylesheet" href="~/Content/css/ProjectStyles/Bootstrap/bootstrap.min.css" />

<div class="admin-main-content">
    <div class="header-container">
        <h2 class="systems-header" id="systems-header">Select a System to Manage</h2>
        <button class="add-system-button add-dep-button" id="AddsysBtn">
            <img src="~/Content/Assets/add-icon.svg" alt="Add Icon" class="button-icon" />
            Add New System
        </button>

        <div class="sidebar-container">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="system-viewer" class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Adding System -->
    <div class="modal fade" id="addsystemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add System</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter system name to add this system</p>
                    <div class="add-sys-form-popup">
                        <label for="system-name" style="display: inline-block;">System Name</label>
                        <input type="text" class="form-control" id="system-name" placeholder="Enter New System Name" />
                        <label for="description" style="margin-top: 10px;">Description</label>
                        <textarea class="form-control" id="description" placeholder="Enter Description"></textarea>

                        <div class="divi-dropdown">
                            <label for="division-select">Select Division</label>
                            <select class="form-control" id="division-select" onchange="selectDivision()">
                                <option value="">-- Select Division --</option>
                            </select>
                        </div>

                        <div class="department-container">
                            <label>Select Departments According to Division</label>
                            <div id="department-list"></div>
                        </div>

                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sysbtnSave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Editing System -->
    <div class="modal fade" id="editsystemModel" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-lg" role="document"> 
            <div class="modal-content"> 
                 <div class="modal-header"> 
                     <h5 class="modal-title" id="editModalLabel">Edit System</h5> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                         <span aria-hidden="true">&times;</span> 
                     </button> 
                 </div> 
                 <div class="modal-body"> 
                     <p>Edit system details</p> 
                     <div class="add-sys-form-popup">
                        <input type="hidden" id="edit-system-id" />
                         <label for="system-edit-name">System Name</label> 
                         <input type="text" id="system-edit-name" class="form-control" /> 
                         <label for="edit-description" style="margin-top: 10px;">Description</label> 
                         <textarea id="edit-description" class="form-control" placeholder="Description Comes Here"></textarea> 

                         <div class="divi-dropdown"> 
                             <label for="edit-division-select">Select Division</label> 
                             <select class="form-control" id="edit-division-select" onchange=""> 
                                
                             </select> 
                         </div> 

                         <div class="department-container"> 
                             <label>Select Departments According to Division</label> 
                             <div id="edit-department-list"></div> 
                         </div> 
                    </div> 
               </div> 
                 <div class="modal-footer"> 
                     <button type="button" id="edit-btn-save" class="btn btn-primary">Save Changes</button> 
                 </div> 
             </div> 
         </div> 
     </div> 

    

</div>

<!-- Include necessary JS files -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/ProjectScripts/Bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/ProjectScripts/JQuerryTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/ProjectScripts/notiflix.js"></script>
<script src="~/Scripts/AdminSystemScripts.js"></script>
