<html>
<head>
    <link rel="stylesheet" href=~/css/AdminUpload.css />
</head>
<body>
    <div class="admin-main-content">
        <h2>Upload History</h2>
        <button class="upload-btn">
            <svg xmlns="~/wwwroot/Assets/Uploadbtn.png" width="1%" height="1%">
            </svg>
            Upload Files
        </button>
    </div>
</body>
</html>