@{
    Layout = null; // This will prevent any layout from being applied
}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .readUsers-container {
            border-radius:1%;
            margin-left:30%;
            width: 60%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .readUsers-header {
            background-color: #004b8d;
            color: white;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .readUsers-header h1 {
                font-size: 18px;
                margin: 0;
            }

            .readUsers-header .readUsers-close {
                font-size: 18px;
                cursor: pointer;
            }

        .readUsers-title {
            padding: 15px 20px;
        }

            .readUsers-title h2 {
                font-size: 16px;
                margin: 0;
            }

        .readUsers-search-bar {
            padding: 10px 20px;
            display: flex;
            justify-content: flex-end;
        }

            .readUsers-search-bar input {
                width: 300px;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

        .readUsers-table-container {
            padding: 0 20px 20px 20px;
            min-height:400px;
            max-height:400px;
            overflow-y: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            cursor: pointer;
        }



        body {
            margin:0;
            padding:0;
            background-color: white;
            color: black;
            font-family: Arial, sans-serif;
        }

        .header-container-unique {
            margin-top:5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .header-unique {
            font-size: 24px;
            color: black;
        }

        .search-bar-unique {
            text-align: right;
        }

            .search-bar-unique input {
                background-color: white;
                border: none;
                border-bottom: 1px solid black;
                color: black;
                padding: 5px;
            }

        .table-container-unique {
            max-height: 400px;
            overflow-y: auto;
            border: 1px solid #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #d3d3d3;
            color: black;
        }

        td {
            border-bottom: 1px solid #333;
        }

        .icon-unique {
            margin-right: 10px;
        }

        .read-by-unique {
            color: green;
            cursor: pointer;
            position: relative;
            text-decoration: underline;
            text-decoration-color: green;
        }

            .read-by-unique .clickable-icon-unique {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
            }

            .read-by-unique:hover .clickable-icon-unique {
                display: block;
            }

        .pending-by-unique {
            color: red;
            cursor: pointer;
            position: relative;
            text-decoration: underline;
            text-decoration-color: red;
        }

            .pending-by-unique .clickable-icon-unique {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
            }

            .pending-by-unique:hover .clickable-icon-unique {
                display: block;
            }

        .modal-unique {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content-unique {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close-unique {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close-unique:hover,
            .close-unique:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }


        .pendingUsers-container {
            border-radius:1%;
            margin-left: 30%;
            width: 60%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .pendingUsers-header {
            background-color: #004b8d;
            color: white;
            padding: 10px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .pendingUsers-header h1 {
                font-size: 18px;
                margin: 0;
            }

            .pendingUsers-header .pendingUsers-close {
                font-size: 20px;
                cursor: pointer;
            }

        .pendingUsers-title {
            padding: 20px;
            font-size: 16px;
            font-weight: bold;
        }

        .pendingUsers-searchBar {
            padding: 0 20px 20px 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .pendingUsers-searchBar input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid #ccc;
                margin-left: 10px;
                width: 25%;
            }

        .pendingUsers-tableContainer {
            padding: 0 20px 20px 20px;
            min-height: 400px;
            max-height: 400px;
            overflow-y: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <script src="~/js/adminReview.js" defer></script>
</head>
<body>
    <div class="header-container-unique">
        <div class="header-unique">
            Fight Operations / TechFleet System
        </div>
        <div class="search-bar-unique">
            <i class="fas fa-search"></i> <input type="text" id="searchInputUnique" placeholder="Search" onkeyup="searchTableUnique()">
        </div>
    </div>
    <div class="table-container-unique">
        <table id="fileTableUnique">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Category</th>
                    <th>Read by</th>
                    <th>Pending by</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document1.pdf</td>
                    <td>Reports</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document2.pdf</td>
                    <td>Invoices</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document3.pdf</td>
                    <td>Contracts</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-video icon-unique"></i> Video1.mp4</td>
                    <td>Training</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document4.pdf</td>
                    <td>Reports</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-video icon-unique"></i> Video2.mp4</td>
                    <td>Meetings</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document5.pdf</td>
                    <td>Invoices</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-video icon-unique"></i> Video3.mp4</td>
                    <td>Training</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document6.pdf</td>
                    <td>Contracts</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-video icon-unique"></i> Video4.mp4</td>
                    <td>Meetings</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-file icon-unique"></i> Document7.pdf</td>
                    <td>Reports</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-video icon-unique"></i> Video5.mp4</td>
                    <td>Training</td>
                    <td class="read-by-unique"><i class="fas fa-eye"></i>154 <span class="clickable-icon-unique" onclick="openReadModalUnique()"></span></td>
                    <td class="pending-by-unique"><i class="fas fa-hourglass-half"></i>233 <span class="clickable-icon-unique" onclick="openPendingModalUnique()"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="readModalUnique" class="modal-unique">
            <div class="readUsers-container">
                <div class="readUsers-header">
                    <h1>Flight Operations / TechFleet</h1>
                    <span class="close-unique" onclick="closeReadModalUnique()">&times;</span>
                </div>
                <div class="readUsers-title">
                    <h2>Read Users - System Integration Manual for TechFleet.pdf</h2>
                </div>
                <div class="readUsers-search-bar">
                    <input type="text" id="readUsers-searchInput" onkeyup="searchTable()" placeholder="Search by Staff ID">
                </div>
                <div class="readUsers-table-container">
                    <table id="readUsers-dataTable">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">Staff ID</th>
                                <th onclick="sortTable(1)">Staff Name</th>
                                <th onclick="sortTable(2)">Viewed Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IN1957</td>
                                <td>Pramodh Lihinikaduwa</td>
                                <td>Jan 04,2023</td>
                            </tr>
                            <tr>
                                <td>IN1955</td>
                                <td>Rusith Manorathna</td>
                                <td>Mar 26,2024</td>
                            </tr>
                            <tr>
                                <td>IN1957</td>
                                <td>Pramodh Lihinikaduwa</td>
                                <td>Jan 04,2023</td>
                            </tr>
                            <tr>
                                <td>IN1955</td>
                                <td>Rusith Manorathna</td>
                                <td>Mar 26,2024</td>
                            </tr>
                            <tr>
                                <td>IN1957</td>
                                <td>Pramodh Lihinikaduwa</td>
                                <td>Jan 04,2023</td>
                            </tr>
                            <tr>
                                <td>IN1955</td>
                                <td>Rusith Manorathna</td>
                                <td>Mar 26,2024</td>
                            </tr>
                            <tr>
                                <td>IN1957</td>
                                <td>Pramodh Lihinikaduwa</td>
                                <td>Jan 04,2023</td>
                            </tr>
                            <tr>
                                <td>IN1955</td>
                                <td>Rusith Manorathna</td>
                                <td>Mar 26,2024</td>
                            </tr>
                            <tr>
                                <td>IN1957</td>
                                <td>Pramodh Lihinikaduwa</td>
                                <td>Jan 04,2023</td>
                            </tr>
                            <tr>
                                <td>IN1955</td>
                                <td>Rusith Manorathna</td>
                                <td>Mar 26,2024</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div id="pendingModalUnique" class="modal-unique">
        <div class="pendingUsers-container">
            <div class="pendingUsers-header">
                <h1>Flight Operations / TechFleet</h1>
                <span class="close-unique" onclick="closePendingModalUnique()">&times;</span>
            </div>
            <div class="pendingUsers-title">
                Pending Users - System Integration Manual for TechFleet.pdf
            </div>
            <div class="pendingUsers-searchBar">
                <input type="text" id="pendingUsersSearchInput" onkeyup="pendingUsersSearchTable()" placeholder="Search by Staff ID or Name">
            </div>
            <div class="pendingUsers-tableContainer">
                <table id="pendingUsersTable">
                    <thead>
                        <tr>
                            <th onclick="pendingUsersSortTable(0)">Staff ID</th>
                            <th onclick="pendingUsersSortTable(1)">Staff Name</th>
                            <th onclick="pendingUsersSortTable(2)">Viewed Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>IN1957</td>
                            <td>Pramodh Lihinikaduwa</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1955</td>
                            <td>Rusith Manorathna</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1957</td>
                            <td>Pramodh Lihinikaduwa</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1955</td>
                            <td>Rusith Manorathna</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1957</td>
                            <td>Pramodh Lihinikaduwa</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1955</td>
                            <td>Rusith Manorathna</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1957</td>
                            <td>Pramodh Lihinikaduwa</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1955</td>
                            <td>Rusith Manorathna</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1957</td>
                            <td>Pramodh Lihinikaduwa</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>IN1955</td>
                            <td>Rusith Manorathna</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>