@model AeroVault.Models.OverviewViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    @if (TempData["AccessDeniedMessage"] != null)
    {
        <script>
            alert('@TempData["AccessDeniedMessage"]');
        </script>
    }
}

<div id="main-content">
    @if (Model == null)
    {
        <p>Error: Model is null.</p>
    }
    else
    {
        @Html.Partial("_Overview", Model) 
    }
</div>

<link rel="stylesheet" href="/Content/css/UserSidebarStyles.css">
<script src="/Scripts/UserSidebarScripts.js"></script>