@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<div id="main-content">
    @Html.Partial("_Overview")
</div>


<link rel="stylesheet" href="/Content/css/UserSidebarStyles.css">


<script src="/Scripts/UserSidebarScripts.js"></script>