<html>
<head>
    <link rel="stylesheet" href="~/css/AdminSystems.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="admin-main-content">
        <div class="header-container">
            <h2 class="systems-header" id="systems-header">
                Select a Department to Manage
            </h2>
            <button class="add-system-button add-dep-button">
                <img src="~/Assets/add-icon.svg" alt="Add Icon" class="button-icon" />
                Add New Department
            </button>
        </div>



        <div class="sidebar-container">

            <div class="sidebar2">
                <div class="search-container">
                    <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                    <input id="systemSearch" onkeyup="filterSystems()" placeholder="Search Department" type="text" />
                </div>
                <div class="scrollable-content scrollable-content-list">
                    <div id="systemListContainer">
                        <ul id="systemList">
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Human Resources
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                    
                                    Engineering & Maintenance
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Finance & Accounting
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Sales & Marketing
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Customer Service
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Cargo Operations
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Cabin Crew
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                  
                                    Flight Operations
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                  
                                    Ground Handling
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                 
                                    Information Technology
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                  
                                    Human Resources
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Sales & Marketing
                                </a>
                            </li>





                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Information Technology
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">                                   
                                    Sales & Marketing
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Ground Handling
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Cabin Crew
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Ground Handling
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Finance & Accounting
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Customer Service
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Ground Handling
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Flight Dispatch
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Human Resources
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Customer Service
                                </a>
                            </li>
                            <li onclick="highlightSystem(this)" class="department-li">
                                <a href="#">
                                    Information Technology
                                </a>
                            </li>

                            

                        </ul>

                        <div class="custom-form-group">
                            <h2 class="systems-header systems-header-label">
                                Select a Department to Manage
                            </h2>
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown(event)">
                                    <span id="selected-option" style="color:#333333;">Information Technology</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="custom-dropdown-content">
                                    <div class="custom-search-container">
                                        <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                        <input type="text" id="custom-search-input" placeholder="Search Option" onkeyup="filterCustomOptions()" onclick="event.stopPropagation()">
                                    </div>
                                    <div class="custom-dropdown-list">
                                        <div onclick="selectCustomOption(this)" class="active">Information Technology</div>
                                        <div onclick="selectCustomOption(this)">Human Resource</div>
                                        <div onclick="selectCustomOption(this)">Sales & Marketing</div>
                                        <div onclick="selectCustomOption(this)">Customer Service</div>
                                        <div onclick="selectCustomOption(this)">Cabin Crew</div>
                                        <div onclick="selectCustomOption(this)">Flight Operations</div>
                                        <div onclick="selectCustomOption(this)">Ground Handling</div>
                                        <div onclick="selectCustomOption(this)">Finance & Accounting</div>
                                        <div onclick="selectCustomOption(this)">Engineering & Maintenance</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>











              



            </div>
            <div class="image-container">
                <img src="~/Assets/departments-background-icon.svg" alt="Departments Background Image" />
            </div>


            <div class="system-container dep-second-container" style="display: none;">
                <div class="dep-inner-container">
                    <h2 class="systems-name">System Name</h2>
                    <div class="form-group div-secondary-container">
                        <label class="label" for="department-name">Department Name</label>
                        <input class="depname-input" type="text" id="department-name" value="Cargo Operations" style="border-radius:10px; font-size:16px; border:1px solid #6D6D6D;">
                    </div>
                    <div class="form-group second-input div-secondary-container">
                        <label class="label" for="division">Division</label>
                        <div class="dropdown">
                            <div class="dropdown-toggle division-selector " onclick="toggleDropdown()">
                                <span id="selected-division">Information Technology</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div class="dropdown-content div-secondary-container">
                                <div class="search-container second-search">
                                    <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                    <input type="text" id="search-division" placeholder="Search Division" onkeyup="filterDivisions()" onclick="event.stopPropagation()">
                                </div>
                                <div class="dropdown-list">
                                    <div onclick="selectDivision(this)" class="selected">Information Technology</div>
                                    <div onclick="selectDivision(this)">Human Resource</div>
                                    <div onclick="selectDivision(this)">Flight Operations</div>
                                    <div onclick="selectDivision(this)">Safety and Security</div>
                                    <div onclick="selectDivision(this)">Finance</div>
                                    <div onclick="selectDivision(this)">Marketing</div>
                                    <div onclick="selectDivision(this)">Customer Service</div>
                                    <div onclick="selectDivision(this)">Logistics</div>
                                    <div onclick="selectDivision(this)">Procurement</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="reset-changes">
                            Reset
                        </button>
                        <button class="edit-system-button">
                            Save Changes
                        </button>
                        <button class="delete-system-button delete-dep-button">
                            <img src="~/Assets/system-delete-icon.svg" alt="Add Icon" class="button-icon" />
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            </div>
            </div>



    <!-- Overlay -->
    <div id="dark-overlay-dep1" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminAddDepartmentPopup")

    <div id="dark-overlay-dep2" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminDeleteDepartmentPopup")

    <div id="dark-overlay-dep3" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminDepartmentPopups/_AdminDepartmentAdded")





   

    <script>
        function toggleCustomDropdown(event) {
            event.stopPropagation(); // Prevent the click event from bubbling up
            var dropdownContent = document.querySelector('.custom-dropdown-content');
            var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
            var selector = document.querySelector('.custom-selector');

            if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownToggle.classList.remove('open');
                selector.style.borderBottomLeftRadius = '10px';
                selector.style.borderBottomRightRadius = '10px';
                selector.style.borderBottom = '1px solid #6D6D6D';
            } else {
                dropdownContent.style.display = 'block';
                dropdownToggle.classList.add('open');
                selector.style.borderBottomLeftRadius = '0';
                selector.style.borderBottomRightRadius = '0';
                selector.style.borderBottom = 'none';
                document.getElementById('custom-search-input').value = '';
                showAllCustomOptions();
            }
        }

        function filterCustomOptions() {
            var input = document.getElementById('custom-search-input');
            var filter = input.value.toUpperCase();
            var divs = document.querySelectorAll('.custom-dropdown-list div');

            divs.forEach(function (div) {
                var txtValue = div.textContent || div.innerText;
                div.style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? '' : 'none';
            });
        }

        function selectCustomOption(element) {
            var selectedOption = element.textContent || element.innerText;
            document.getElementById('selected-option').textContent = selectedOption;
            document.querySelector('.custom-dropdown-content').style.display = 'none';
            document.querySelector('.custom-dropdown-toggle').classList.remove('open');

            var selector = document.querySelector('.custom-selector');
            selector.style.borderBottomLeftRadius = '10px';
            selector.style.borderBottomRightRadius = '10px';
            selector.style.borderBottom = '1px solid #6D6D6D';

            var divs = document.querySelectorAll('.custom-dropdown-list div');
            divs.forEach(div => div.classList.remove('active'));
            element.classList.add('active');

            // Update the system name in the system-container
            document.querySelector('.systems-name').innerText = selectedOption; // Set the selected option as the system name

            // Hide the image container and show the system container
            document.querySelector('.image-container').style.display = 'none'; // Hide the image container
            document.querySelector('.system-container').style.display = 'block'; // Show the system container
        }

        function showAllCustomOptions() {
            var divs = document.querySelectorAll('.custom-dropdown-list div');
            divs.forEach(div => div.style.display = "");
        }

        window.addEventListener('click', function (event) {
            var dropdownContent = document.querySelector('.custom-dropdown-content');
            var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
            var selector = document.querySelector('.custom-selector');

            if (!dropdownToggle.contains(event.target) && dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownToggle.classList.remove('open');
                selector.style.borderBottomLeftRadius = '10px';
                selector.style.borderBottomRightRadius = '10px';
                selector.style.borderBottom = '1px solid #6D6D6D';
            }
        });































        // DROPDOWN SCRIPTSSSSSSSSS






                function toggleDropdown() {
                    var dropdownContent = document.querySelector('.dropdown-content');
                    var dropdownToggle = document.querySelector('.dropdown-toggle');
                    var divisionSelector = document.querySelector('.division-selector');

                    if (dropdownContent.style.display === 'block') {
                        // Hide the dropdown
                        dropdownContent.style.display = 'none';
                        dropdownToggle.classList.remove('open');

                        // Reset the border and radius
                        divisionSelector.style.borderBottomLeftRadius = '10px';
                        divisionSelector.style.borderBottomRightRadius = '10px';
                        divisionSelector.style.borderBottom = '1px solid #6D6D6D'; // Ensure the bottom border is set
                    } else {
                        // Show the dropdown
                        dropdownContent.style.display = 'block';
                        dropdownToggle.classList.add('open');

                        // Change the border-radius of the division-selector
                        divisionSelector.style.borderBottomLeftRadius = '0';
                        divisionSelector.style.borderBottomRightRadius = '0';
                        divisionSelector.style.borderBottom = 'none'; // Remove the bottom border
                        document.getElementById('search-division').value = '';
                        showAllDivisions();
                    }
                }

                function filterDivisions() {
                    var input, filter, div, i, txtValue;
                    input = document.getElementById('search-division');
                    filter = input.value.toUpperCase();
                    div = document.querySelectorAll('.dropdown-list div');
                    for (i = 0; i < div.length; i++) {
                        txtValue = div[i].textContent || div[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            div[i].style.display = "";
                        } else {
                            div[i].style.display = "none";
                        }
                    }
                }

                function selectDivision(element) {
                    var selectedDivision = element.textContent || element.innerText;
                    document.getElementById('selected-division').textContent = selectedDivision;
                    document.querySelector('.dropdown-content').style.display = 'none';
                    document.querySelector('.dropdown-toggle').classList.remove('open');

                    // Reset the styles of the division selector
                    var divisionSelector = document.querySelector('.division-selector');
                    divisionSelector.style.borderBottomLeftRadius = '10px';
                    divisionSelector.style.borderBottomRightRadius = '10px';
                    divisionSelector.style.borderBottom = '1px solid #6D6D6D'; // Ensure the bottom border is set

                    var divs = document.querySelectorAll('.dropdown-list div');
                    divs.forEach(function (div) {
                        div.classList.remove('selected');
                    });
                    element.classList.add('selected');
                }

                function showAllDivisions() {
                    var divs = document.querySelectorAll('.dropdown-list div');
                    divs.forEach(function (div) {
                        div.style.display = "";
                    });
                }

                // Reset the styles when the input loses focus
                document.getElementById('search-division').addEventListener('blur', function () {
                    const divisionSelector = document.querySelector('.division-selector');

                    // Reset the border-radius to original values
                    divisionSelector.style.borderBottomLeftRadius = '10px';
                    divisionSelector.style.borderBottomRightRadius = '10px';

                    // Reset the bottom border to the original style

                    divisionSelector.style.border = '1px solid #6D6D6D'; // Ensure the border is set
                    divisionSelector.style.borderRadius = "10px";
                });


                window.onclick = function (event) {
                    const dropdownContent = document.querySelector('.dropdown-content');
                    const divisionSelector = document.querySelector('.division-selector');

                    // Check if the clicked element is not the dropdown toggle or search input
                    if (!event.target.matches('.dropdown-toggle') && !event.target.matches('.dropdown-toggle *') && !event.target.matches('#search-division')) {
                        // If the dropdown is open, close it and reset styles
                        if (dropdownContent.style.display === 'block') {
                            dropdownContent.style.display = 'none';
                            document.getElementById('search-division').value = '';
                            filterDivisions();
                            document.querySelector('.dropdown-toggle').classList.remove('open');

                            // Reset the border and radius
                            divisionSelector.style.borderBottomLeftRadius = '10px';
                            divisionSelector.style.borderBottomRightRadius = '10px';
                            divisionSelector.style.borderBottom = '1px solid #6D6D6D'; // Ensure the bottom border is set
                        }
                    }
                };













        function depDeleteopenPopup() {
            document.getElementById('dark-overlay-dep2').style.display = 'block';
            document.getElementById('deletedepartment-popup').style.display = 'block';
        }

        function depDeleteClosePopup() {
            document.getElementById('dark-overlay-dep2').style.display = 'none';
            document.getElementById('deletedepartment-popup').style.display = 'none';
        }


        document.querySelector('.delete-dep-button').onclick = depDeleteopenPopup;

        document.getElementById('close-icon-dep2').onclick = depDeleteClosePopup;
        document.getElementById('dark-overlay-dep2').onclick = depDeleteClosePopup;




        // DEPARTMENT ADD POPUP
        function depAddopenPopup() {
            document.getElementById('dark-overlay-dep1').style.display = 'block';
            document.getElementById('adddepartment-popup').style.display = 'block';
        }

        function depAddClosePopup() {
            document.getElementById('dark-overlay-dep1').style.display = 'none';
            document.getElementById('adddepartment-popup').style.display = 'none';
        }


        document.querySelector('.add-dep-button').onclick = depAddopenPopup;

        document.getElementById('close-icon-dep1').onclick = depAddClosePopup;
        document.getElementById('dark-overlay-dep1').onclick = depAddClosePopup;















        // Function to handle the Add New System button click
        function addNewDepartment() {
            // Close the add system popup
            depAddClosePopup(); // This will close the add system popup

            // Check if the notification popup and overlay exist before trying to access them
            var notificationPopup = document.getElementById('notification-popup2');
            var darkOverlay3 = document.getElementById('dark-overlay-dep3');

            if (darkOverlay3 && notificationPopup) {
                darkOverlay3.style.display = 'block'; // Show the overlay for notification
                notificationPopup.style.display = 'block'; // Show the notification popup
            } else {
                console.error("Notification popup or overlay not found.");
            }
        }

        // Attach the addNewSystem function to the save button
        document.querySelector('.add-new-dep-popup-btn').onclick = addNewDepartment;


        // Function to close the notification popup
        function closeNotificationPopup() {
            document.getElementById('dark-overlay-dep3').style.display = 'none'; // Hide the overlay
            document.getElementById('notification-popup2').style.display = 'none'; // Hide the notification popup
        }

        // Attach the closeNotificationPopup function to the close icon and overlay
        document.getElementById('close-icon-dep3').onclick = closeNotificationPopup;
        document.getElementById('dark-overlay-dep3').onclick = closeNotificationPopup;


























        function filterDivisionOptions() {
            var input, filter, div, i, txtValue;
            input = document.getElementById('division-search'); // Change to your search input ID
            filter = input.value.toUpperCase();
            div = document.querySelectorAll('.division-dropdown-list div'); // Change to your dropdown list selector
            for (i = 0; i < div.length; i++) {
                txtValue = div[i].textContent || div[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    div[i].style.display = ""; // Show the division option
                } else {
                    div[i].style.display = "none"; // Hide the division option
                }
            }
        }

        function selectDivisionOption(element) {
            var selectedDivision = element.textContent || element.innerText;
            document.getElementById('selected-division-option').textContent = selectedDivision; // Update selected division text
            document.querySelector('.division-dropdown-content').style.display = 'none'; // Hide dropdown
            document.querySelector('.division-dropdown-toggle').classList.remove('open'); // Remove open class

            // Optionally reset styles for selected items
            var divs = document.querySelectorAll('.division-dropdown-list div');
            divs.forEach(function (div) {
                div.classList.remove('selected');
            });
            element.classList.add('selected'); // Highlight the selected division
        }

        function toggleDivisionDropdown() {
            var dropdownContent = document.querySelector('.division-dropdown-content');
            var dropdownToggle = document.querySelector('.division-dropdown-toggle');

            if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none'; // Hide the dropdown
                dropdownToggle.classList.remove('open'); // Remove open class
            } else {
                dropdownContent.style.display = 'block'; // Show the dropdown
                dropdownToggle.classList.add('open'); // Add open class
                document.getElementById('division-search').value = ''; // Clear the search input
                showAllDivisionOptions(); // Show all division options
            }
        }

        function showAllDivisionOptions() {
            var divs = document.querySelectorAll('.division-dropdown-list div');
            divs.forEach(function (div) {
                div.style.display = ""; // Show all division options
            });
        }

        // Close dropdown when clicking outside
        window.onclick = function (event) {
            const dropdownContent = document.querySelector('.division-dropdown-content');
            const dropdownToggle = document.querySelector('.division-dropdown-toggle');

            if (!event.target.matches('.division-dropdown-toggle') && !event.target.matches('.division-dropdown-toggle *') && !event.target.matches('#division-search')) {
                if (dropdownContent.style.display === 'block') {
                    dropdownContent.style.display = 'none'; // Hide dropdown
                    dropdownToggle.classList.remove('open'); // Remove open class
                }
            }
        };



        function toggleSystemList() {
            const systemList = document.getElementById('systemList');
            const systemDropdown = document.getElementById('systemDropdown');

            if (window.innerWidth <= 768) {
                // Hide the list and show the dropdown
                systemList.style.display = 'none';
                systemDropdown.style.display = 'block';

                // Populate dropdown options from the list items
                const listItems = systemList.querySelectorAll('li');
                systemDropdown.innerHTML = '<option value="">Select a System</option>'; // Clear existing options
                listItems.forEach(item => {
                    const systemName = item.textContent.trim(); // Get the system name
                    const option = document.createElement('option');
                    option.value = systemName;
                    option.textContent = systemName;
                    systemDropdown.appendChild(option);
                });
            } else {
                // Show the list and hide the dropdown
                systemList.style.display = 'block';
                systemDropdown.style.display = 'none';
            }
        }

        function selectSystem(dropdown) {
            const selectedValue = dropdown.value;
            const items = document.querySelectorAll('#systemList li');

            items.forEach(item => {
                if (item.textContent.trim() === selectedValue) {
                    highlightSystem(item);
                }
            });
        }

        // Call toggleSystemList on page load and on resize
        window.addEventListener('load', toggleSystemList);
        window.addEventListener('resize', toggleSystemList);





        function highlightSystem(selectedItem) {
            // Remove background and bold from all list items
            const listItems = document.querySelectorAll("#systemList li");
            listItems.forEach(item => {
                item.style.backgroundColor = ""; // Reset background color
                item.style.fontWeight = ""; // Reset font weight
                item.style.padding = ""; // Reset padding
            });

            // Apply background, padding, and bold text to selected item
            selectedItem.style.backgroundColor = "#BBDCF9";
            selectedItem.style.fontWeight = "bold";

            // Get the name of the selected system
            const systemName = selectedItem.innerText.trim();

            // Update the system name in the system-container
            document.querySelector('.systems-name').innerText = systemName;

            // Hide the image container and show the system container
            document.querySelector('.image-container').style.display = 'none'; // Hide the image container
            document.querySelector('.system-container').style.display = 'block'; // Show the system container
        }








    </script>
</body>
</html>