@page
@model AeroVault.Views.Shared.AdminPopups._AdminLogoutPopupModel
@{
}

<link rel="stylesheet" href="~/Content/css/AdminLogoutPopupStyles.css">

<div class="modal-notification-edit2" id="editfile-popup2" style="display: none;">
    <div class="modal-header2" style="height:10px; padding:0;">
    </div>
    <div class="modal-body2">
        <h2 class="admin-logout-header" style="margin-bottom:8px"; >Confirm Logout</h2>
    </div>
    <p style="text-align:center; margin-top:20px; margin-bottom:20px;">Are you sure you want to log out?</p>
    <div class="modal-footer2">
        <button class="reset-btn2" id="close-logout">Cancel</button>
        <button type="button" class="save-btn2" onclick="logout()" style="height:34px">Logout</button>
    </div>
</div>

<script>
    function logout() {
        window.location.href = '@Url.Action("Index", "Login")';
    }
</script>