@page

@model AeroVault.Views.Shared.AdminDepartmentPopups._AdminAddDepartmentPopupModel


<div class="modal-notification-edit" id="adddepartment-popup" style="display: none;">
    <div class="modal-header">
        <h2>Add Division</h2>
        <img src="~/Assets/close-icon.svg" id="close-icon-dep1" style="cursor:pointer;" />
    </div>

    <div class="modal-body">
        <p>Enter division name to add this division</p>
        <div class="add-dep-form-popup">
            <label for="new-department-name">Division Name</label>
            <input type="text" id="new-department-name" placeholder="New Division Name">
        </div>
    </div>

    <div class="modal-footer">
        <button id="add-new-division-btn" class="save-btn add-new-dep-popup-btn">Add New Division</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {
        $('#add-new-division-btn').on('click', function() {
            var divisionName = $('#new-department-name').val();

            if (!divisionName) {
                alert("Please enter a division name.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddDivision", "Admin")',
                data: { divisionName: divisionName },
                success: function(response) {
                    alert(response.message);
                    $('#adddepartment-popup').hide();
                    $('#new-department-name').val('');

                    // Fetch the updated list of divisions
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllDivisions", "Admin")', 
                        success: function(divisions) {
                            $('#systemList').empty();
                            if (divisions.length === 0) {
                                $('#systemList').append('<li>No Divisions available.</li>');
                            } else {

                                $.each(divisions, function(index, division) {
                                    $('#systemList').append('<li onclick="highlightSystem(this)" class="department-li"><a href="#">' + division.divisionName + '</a></li>');

                                });
                            }
                        },

                        error: function(xhr, status, error) {
                            alert("An error occurred while fetching divisions: " + xhr.responseText);
                        }
                    });
                },

                error: function(xhr, status, error) {
                    alert("An error occurred: " + xhr.responseText);
                }
            });
        });
    });
</script>

<style>
    .modal-footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 20px;
    }

        .modal-footer .save-btn {
            width: 200px;
        }

    #unique-selected-option {
        color: #333333;
    }

    .add-dep-form-popup {
        margin-top: 20px;
    }

    .unique-form-group {
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px;
    }

    .unique-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .unique-dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 100%;
        border: 1px solid #6D6D6D;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 1;
    }

    .unique-dropdown-list {
        height: 150px;
        overflow-y: scroll;
    }

        .unique-dropdown-list::-webkit-scrollbar {
            width: 10px;
            background-color: #fff;
        }

        .unique-dropdown-list::-webkit-scrollbar-thumb {
            background-color: #135176;
            border-radius: 100px;
            height: 20px;
        }

        .unique-dropdown-list div {
            padding: 8px 16px;
            cursor: pointer;
        }

            .unique-dropdown-list div:hover {
                background-color: #BBDCF9;
            }

        .unique-dropdown-list .active {
            font-weight: bold;
        }

    .unique-dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border: 1px solid #6D6D6D;
        border-bottom: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .unique-dropdown-toggle i {
            margin-left: 10px;
            transition: transform 0.3s;
        }

        .unique-dropdown-toggle.open i {
            transform: rotate(180deg);
        }

    .unique-selector {
        border: 1px solid #6D6D6D;
        border-radius: 10px;
    }

    .unique-search-container {
        display: flex;
        border-bottom: 1px solid #938C8C;
        margin: 20px;
        margin-top: 0px;
    }

        .unique-search-container img {
            color: #999;
            margin-right: 5px;
            font-size: 20px;
            margin-left: 5px;
        }

        .unique-search-container input {
            border: none;
            color: #000;
            font-size: 16px;
            outline: none;
            flex: 1;
            padding: 5px;
        }

    #unique-search-input {
        margin-left: 0px;
        border: none;
    }

    .unique-dropdown-toggle::after {
        content: none;
    }

    #unique-search-input {
        margin-bottom:0;
    }
    </style>

