
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../Assets/Login.png);
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: white;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 500px;
}

    .login-box h1 {
        font-family: Salsa;
        font-size: 40px;
        margin-bottom: 10px;
        color: #006FB0;
    }

        .login-box h1 span {
            color: #FE9151;
        }

    .login-box p {
        font-size: 12px;
        color: #666;
        margin-bottom: 20px;
    }

    .login-box .p1 {
        font-family: 'Inria Sans';
        font-size: 20px;
        color: #666;
        margin-bottom: 20px;
        margin-top: -15px;
    }

.errorinput {
    font-family: 'Inter 18pt 18pt';
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

.login-box input[type="text"] {
    padding-left: 60px;
    background-image: url(../../images/user_1077114.svg);
    background-position: 10px 50%;
    background-size: 25px;
    background-repeat: no-repeat;
}

.login-box input[type="password"] {
    padding-left: 60px;
    background-image: url(../../images/lock_3917642.svg);
    background-position: 10px 50%;
    background-size: 25px;
    background-repeat: no-repeat;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #006FB0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    .login-box button:hover {
        background-color: #0056b3;
    }

.login-box .footer {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}

    .login-box .footer img {
        width: 300px;
        height: 50px;
        margin-top: 10px;
    }

#error:empty {
    display: none;
}

#error2:empty {
    display: none;
}

#error {
    font-family: 'Inria Sans';
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
}

#error2 {
    font-family: 'Inria Sans';
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
}
