@{
    ViewData["Title"] = " Privacy Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img src="~/Assets/Overview latest - 2nd option.png" alt="Alternate Text" />

</body>
</html>