@page
@model AeroVault.Views.Shared.AdminUploadPopups._AdminUploadPopupModel
@{
}

<html>

<head>
    <link rel="stylesheet" href=~/css/Adminuploadpopup.css />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <div class="upload-popup-edit8" id="editfile-popup8" style="display: none;">
        <div class="popup-header8">
            <h2>Upload Files</h2>
            <img src="~/Assets/close-icon.svg" class="close-btn8" alt="Cancel Icon" id="close-logout8"
                style="cursor:pointer;">
        </div>


        <div class="uploadpop-up-container">
        <div class="uploadpop-up-sidebar">
            <div class="steps-container">
                <div class="step step-1 active">
                    <div class="number">1</div>
                    <div class="text">Select Department</div>
                </div>
                <div class="step step-2">
                    <div class="number">2</div>
                    <div class="text">Select System</div>
                </div>
                <div class="step step-3">
                    <div class="number">3</div>
                    <div class="text">Select Category</div>
                </div>
                <div class="step step-4">
                    <div class="number">4</div>
                    <div class="text">Upload</div>
                </div>
            </div>
        </div>
        <div class="uploadpop-up-content">
            <!-- Content will be dynamically updated here -->
        </div>
    </div>
    </div>
    <script src="~/js/Adminuploadpopup.js"></script>
</body>

</html>