@page
@model DepartmentViewModel  // Change this from _AdminUploadPopupModel
@{
}

<!-- Rest of your existing code -->

<html>

<head>
    <link rel="stylesheet" href="/Content/css/Adminuploadpopup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="upload-popup-edit8" id="editfile-popup8" style="display: none;">
        <div class="popup-header8">
            <h2>Upload Files</h2>
            <img src="/Content/Assets/close-icon.svg" class="close-btn8" alt="Cancel Icon" id="close-logout8"
                style="cursor:pointer;">
        </div>

        <div class="uploadpop-up-container">
            <div class="uploadpop-up-sidebar">
                <div class="steps-container">
                    <div class="step step-1 active">
                        <div class="number">1</div>
                        <div class="text">Select Department</div>
                    </div>
                    <div class="step step-2">
                        <div class="number">2</div>
                        <div class="text">Select System</div>
                    </div>
                    <div class="step step-3">
                        <div class="number">3</div>
                        <div class="text">Select Category</div>
                    </div>
                    <div class="step step-4">
                        <div class="number">4</div>
                        <div class="text">Upload</div>
                    </div>
                </div>
            </div>
            <div class="uploadpop-up-content">
                <!-- Step 1: Select Departments -->
                <div class="step-content step-1-content">
                    <div class="section-title">Select the departments you want to upload your files </div>
                    <div class="add-system-searchbar">
                        <div class="file-search-container">
                            <img src="/Content/Assets/search-icon.svg" class="search-icon" alt="Search Icon" />
                            <input id="DepartmentsDivisionsSearch" onkeyup="filterDepartmentsDivisions()"
                                placeholder="Search" type="text" class="file-search-input" />
                        </div>
                    </div>
                    <div class="division-container">
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Aviation College</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Cargo</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Cargo Operations</label>
                                    <label><input type="checkbox" class="department"> Cargo Sales</label>
                                    <label><input type="checkbox" class="department"> Cargo Customer Service</label>
                                    <label><input type="checkbox" class="department"> Cargo Network Planning</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Commercial Operations</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Commercial Operations</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="department"> Department 1</label>
                                    <label><input type="checkbox" class="department"> Department 2</label>
                                    <label><input type="checkbox" class="department"> Department 3</label>
                                    <label><input type="checkbox" class="department"> Department 4</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="next-button" onclick="goToStep(2)">Next <i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>


                <!-- Step 2: Select System -->
                <div class="step-content step-2-content">
                    <div class="section-title">Select the systems you want to upload your files </div>
                    <div class="add-system-searchbar">
                        <div class="file-search-container">
                            <img src="/Content/Assets/search-icon.svg" class="search-icon" alt="Search Icon" />
                            <input id="DepartmentsDivisionsSearch" onkeyup="filterDepartmentsDivisions()"
                                placeholder="Search" type="text" class="file-search-input" />
                        </div>
                    </div>
                    <div class="division-container">
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Aviation College</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                    <label><input type="checkbox" class="system"> Department 4</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Cargo</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Cargo Operations</label>
                                    <label><input type="checkbox" class="system"> Cargo Sales</label>
                                    <label><input type="checkbox" class="system"> Cargo Customer Service</label>
                                    <label><input type="checkbox" class="system"> Cargo Network Planning</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Commercial Operations</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                    <label><input type="checkbox" class="system"> Department 4</label>
                                    <label><input type="checkbox" class="system"> Department 5</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Commercial Operations</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                    <label><input type="checkbox" class="system"> Department 4</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                    <label><input type="checkbox" class="system"> Department 4</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                </div>
                            </div>
                        </div>
                        <div class="division">
                            <div class="division-header">
                                <div>
                                    <i class="fas fa-chevron-right division-name"></i>
                                    <span class="division-name">Corporate Communications</span>
                                </div>
                                <span class="selected-count"></span>
                            </div>
                            <div class="division-content">
                                <div class="checkbox-group">
                                    <label><input type="checkbox" class="select-all"> Select All</label>
                                    <label><input type="checkbox" class="system"> Department 1</label>
                                    <label><input type="checkbox" class="system"> Department 2</label>
                                    <label><input type="checkbox" class="system"> Department 3</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="back-button" onclick="goToStep(1)">
                            <i class="fas fa-chevron-left"></i> Back
                        </button>
                        <button class="next-button" onclick="goToStep (3)">
                            Next <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>


                <!-- Step 3: Select Category -->
                <div class="step-content step-3-content" style="display: none;">
                    @* <h2>Select the Category you want to upload your files</h2>
                    <div class="category-selection">
                        <label>
                            <input type="radio" name="category" value="Category1"> 
                            Category 1
                        </label>
                        <label>
                            <input type="radio" name="category" value="Category2"> 
                            Category 2
                        </label>
                        <label>
                            <input type="radio" name="category" value="Category3"> 
                            Category 3
                        </label>
                    </div> *@



                    <div class="status-form-group">
                        <label class="status-label" for="status-selector">Select a category for your files you want to
                            upload </label>
                        <div class="status-dropdown">
                            <div class="status-dropdown-toggle status-selector" onclick="toggleStatusDropdown()">
                                <span id="selected-status" class="placeholder">Select a category</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div class="status-dropdown-content">
                                <div class="status-search-container">
                                    <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                                    <input type="text" id="status-search-input" placeholder="Search a type"
                                        onkeyup="filterStatusOptions()" onclick="event.stopPropagation()">
                                </div>
                                <div class="status-dropdown-list">
                                    <div onclick="selectStatusOption(this)">Training</div>
                                    <div onclick="selectStatusOption(this)">Technical</div>
                                    <div onclick="selectStatusOption(this)">Flight Operations</div>
                                    <div onclick="selectStatusOption(this)">Safety and Security</div>
                                    <div onclick="selectStatusOption(this)">Finance</div>
                                    <div onclick="selectStatusOption(this)">Marketing</div>
                                    <div onclick="selectStatusOption(this)">Customer Service</div>
                                    <div onclick="selectStatusOption(this)">Logistics</div>
                                    <div onclick="selectStatusOption(this)">Procurement</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="/Content/Assets/typelist.svg" alt="Description of Image" class="category-image">
                    <div class="button-container">
                        <button class="back-button" onclick="goToStep(2)">
                            <i class="fas fa-chevron-left"></i> Back
                        </button>
                        <button class="next-button" onclick="goToStep(4)">
                            Next <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>

                <!-- Step 4: Upload Files -->
                <div class="step-content step-4-content" style="display: none;">
                    <h2>Select the files you want to upload </h2>
                    <div id="drop-area" class="upload-area">
                        <input type="file" id="fileElem" multiple accept="*/*" onchange="handleFiles(this.files)"
                            style="display:none">
                        <label for="fileElem" class="upload-label">
                            <img src="/Content/Assets/uploadicn.svg" alt="Upload Icon">
                            <p>Drag and drop files here or</p>
                            <button type="button" onclick="document.getElementById('fileElem').click()">Browse
                                Files</button>
                        </label>
                    </div>
                    <p>Selected files</p>
                    <div id="selected-files" class="selected-files">
                        <p>No files selected</p>
                    </div>
                    <div class="button-container">
                        <button class="back-button" onclick="goToStep(3)">
                            <i class="fas fa-chevron-left"></i> Back
                        </button>
                        <button class="reset-button" onclick="resetFiles()">Reset</button>
                        <button class="next-button upload-final-button" onclick="uploadFiles()">
                            Upload <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/Scripts/Adminuploadpopup.js"></script>
    </div>
</body>

</html>